body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1600px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u472 {
  position:absolute;
  left:0px;
  top:1136px;
  width:1600px;
  height:114px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u473 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:500px;
  overflow:hidden;
}
#u473_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:500px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(26, 188, 156, 1);
  background-image:none;
}
#u473_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u475_img {
  position:absolute;
  left:-5px;
  top:-2px;
  width:440px;
  height:876px;
}
#u475 {
  position:absolute;
  left:70px;
  top:260px;
  width:430px;
  height:866px;
}
#u476 {
  position:absolute;
  left:2px;
  top:425px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 214, 214, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u477 {
  position:absolute;
  left:99px;
  top:359px;
  width:377px;
  height:669px;
}
#u478 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479 {
  position:absolute;
  left:100px;
  top:360px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u479_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u479_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u480 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:685px;
}
#u480_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:685px;
}
#u482_img {
  position:absolute;
  left:-5px;
  top:-2px;
  width:440px;
  height:876px;
}
#u482 {
  position:absolute;
  left:585px;
  top:261px;
  width:430px;
  height:866px;
}
#u483 {
  position:absolute;
  left:2px;
  top:425px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 214, 214, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u484 {
  position:absolute;
  left:614px;
  top:360px;
  width:377px;
  height:669px;
}
#u485 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486 {
  position:absolute;
  left:615px;
  top:361px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u486_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u486_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u487 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:685px;
}
#u487_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:685px;
}
#u488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:64px;
}
#u488 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:260px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:64px;
}
#u489 {
  position:absolute;
  left:0px;
  top:66px;
  width:1600px;
  word-wrap:break-word;
}
#u490 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:44px;
}
#u491 {
  position:absolute;
  left:1359px;
  top:1166px;
  width:225px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#CCCCCC;
  line-height:24px;
}
#u492 {
  position:absolute;
  left:2px;
  top:-2px;
  width:221px;
  word-wrap:break-word;
}
#u494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u494 {
  position:absolute;
  left:1314px;
  top:1164px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u495 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:37px;
}
#u496 {
  position:absolute;
  left:1321px;
  top:1170px;
  width:35px;
  height:37px;
}
#u497 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_img {
  position:absolute;
  left:-5px;
  top:-2px;
  width:440px;
  height:876px;
}
#u499 {
  position:absolute;
  left:1100px;
  top:260px;
  width:430px;
  height:866px;
}
#u500 {
  position:absolute;
  left:2px;
  top:425px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(214, 214, 214, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u501 {
  position:absolute;
  left:1129px;
  top:359px;
  width:377px;
  height:669px;
}
#u502 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503 {
  position:absolute;
  left:1130px;
  top:360px;
  width:375px;
  height:667px;
  overflow:hidden;
}
#u503_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u503_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u504 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:683px;
}
#u504_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:683px;
}
