body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:423px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:593px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5523 {
  position:absolute;
  left:103px;
  top:62px;
  width:320px;
  height:593px;
}
#u5524 {
  position:absolute;
  left:7px;
  top:288px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5525 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5526 {
  position:absolute;
  left:104px;
  top:63px;
  width:318px;
  height:57px;
}
#u5527 {
  position:absolute;
  left:7px;
  top:20px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:11px;
}
#u5528 {
  position:absolute;
  left:111px;
  top:70px;
  width:302px;
  height:11px;
}
#u5529 {
  position:absolute;
  left:7px;
  top:-2px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5530 {
  position:absolute;
  left:105px;
  top:84px;
  width:316px;
  height:35px;
  font-size:14px;
}
#u5531 {
  position:absolute;
  left:7px;
  top:8px;
  width:307px;
  word-wrap:break-word;
}
#u5532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:2px;
}
#u5532 {
  position:absolute;
  left:116px;
  top:214px;
  width:307px;
  height:1px;
}
#u5533 {
  position:absolute;
  left:7px;
  top:-8px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5534 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u5535 {
  position:absolute;
  left:103px;
  top:221px;
  width:318px;
  height:1px;
}
#u5536 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5537 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5538 {
  position:absolute;
  left:104px;
  top:119px;
  width:318px;
  height:102px;
}
#u5539 {
  position:absolute;
  left:7px;
  top:43px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u5540 {
  position:absolute;
  left:116px;
  top:128px;
  width:33px;
  height:33px;
  color:#999999;
}
#u5541 {
  position:absolute;
  left:7px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u5540_ann {
  position:absolute;
  left:142px;
  top:124px;
  width:1px;
  height:1px;
}
#u5542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5542 {
  position:absolute;
  left:156px;
  top:128px;
  width:97px;
  height:17px;
  font-size:12px;
}
#u5543 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5542_ann {
  position:absolute;
  left:246px;
  top:124px;
  width:1px;
  height:1px;
}
#u5544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#BCBCBC;
}
#u5544 {
  position:absolute;
  left:392px;
  top:128px;
  width:21px;
  height:16px;
  font-size:10px;
  color:#BCBCBC;
}
#u5545 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u5544_ann {
  position:absolute;
  left:406px;
  top:124px;
  width:1px;
  height:1px;
}
#u5546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u5546 {
  position:absolute;
  left:119px;
  top:168px;
  width:304px;
  height:1px;
}
#u5547 {
  position:absolute;
  left:7px;
  top:-8px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u5548 {
  position:absolute;
  left:105px;
  top:119px;
  width:318px;
  height:1px;
}
#u5549 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5550 {
  position:absolute;
  left:156px;
  top:146px;
  width:158px;
  height:16px;
}
#u5551 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u5552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u5552 {
  position:absolute;
  left:116px;
  top:175px;
  width:33px;
  height:33px;
  color:#999999;
}
#u5553 {
  position:absolute;
  left:7px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u5554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5554 {
  position:absolute;
  left:156px;
  top:175px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u5555 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#BCBCBC;
}
#u5556 {
  position:absolute;
  left:387px;
  top:175px;
  width:27px;
  height:16px;
  font-size:10px;
  color:#BCBCBC;
}
#u5557 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5558 {
  position:absolute;
  left:156px;
  top:193px;
  width:247px;
  height:16px;
}
#u5559 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u5560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u5560 {
  position:absolute;
  left:111px;
  top:94px;
  width:9px;
  height:16px;
}
#u5561 {
  position:absolute;
  left:7px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u5562 {
  position:absolute;
  left:228px;
  top:231px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u5563 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5564 {
  position:absolute;
  left:105px;
  top:31px;
  width:123px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5565 {
  position:absolute;
  left:5px;
  top:2px;
  width:116px;
  white-space:nowrap;
}
