.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
._图片 {
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
.line {
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.html_button {
  text-align:center;
}
.icon {
}
._图片1 {
}
.flow_shape {
}
.paragraph {
  text-align:left;
}
.image {
  color:#000000;
}
.shape {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._文本链接 {
  color:#0000FF;
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.table_cell {
}
._连接线 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._btn-default {
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
  text-align:center;
  line-height:20px;
}
._btn-default_hover {
  color:#333333;
  text-align:center;
  line-height:20px;
}
._btn-link {
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  text-align:center;
  line-height:20px;
}
._btn-link_hover {
  color:#2A6496;
  text-align:center;
  line-height:20px;
}
._nav-tab_focused_tab {
  color:#555555;
  line-height:20px;
}
._nav-tab_background_tabs {
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#428BCA;
  text-align:center;
  line-height:20px;
}
._nav-tab_tab_hover {
  color:#2A6496;
}
._navbar-default_link_hover {
  color:#2A6496;
}
._breadcrumb_background {
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  line-height:20px;
}
._pager_btn {
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#428BCA;
  line-height:20px;
}
._progressbar_base {
  line-height:20px;
}
._progressbar_success {
  line-height:20px;
}
._水平线 {
}
._文本链接1 {
  color:#428BCA;
}
._鼠标悬停文本链接时 {
  color:#2A6496;
}
._鼠标按下文本链接时 {
}
._图片2 {
  color:#000000;
}
._文本段落1 {
  text-align:left;
}
._形状 {
}
.link_button {
  color:#169BD5;
}
._垂直线 {
}
.box_21 {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
