body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:480px;
}
#u4388 {
  position:absolute;
  left:67px;
  top:92px;
  width:747px;
  height:480px;
}
#u4389 {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  word-wrap:break-word;
}
#u4390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u4390 {
  position:absolute;
  left:67px;
  top:40px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4391 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
