body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:921px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:571px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4971 {
  position:absolute;
  left:117px;
  top:108px;
  width:320px;
  height:571px;
}
#u4972 {
  position:absolute;
  left:7px;
  top:278px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4974 {
  position:absolute;
  left:118px;
  top:109px;
  width:318px;
  height:57px;
}
#u4975 {
  position:absolute;
  left:7px;
  top:20px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:11px;
}
#u4976 {
  position:absolute;
  left:125px;
  top:116px;
  width:302px;
  height:11px;
}
#u4977 {
  position:absolute;
  left:7px;
  top:-2px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4978 {
  position:absolute;
  left:119px;
  top:130px;
  width:316px;
  height:35px;
  font-size:14px;
}
#u4979 {
  position:absolute;
  left:7px;
  top:10px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u4980 {
  position:absolute;
  left:410px;
  top:141px;
  width:19px;
  height:19px;
}
#u4981 {
  position:absolute;
  left:7px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4980_ann {
  position:absolute;
  left:422px;
  top:137px;
  width:1px;
  height:1px;
}
#u4982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4982 {
  position:absolute;
  left:299px;
  top:140px;
  width:29px;
  height:20px;
  color:#999999;
}
#u4983 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4984 {
  position:absolute;
  left:233px;
  top:140px;
  width:43px;
  height:20px;
}
#u4985 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u4986 {
  position:absolute;
  left:130px;
  top:269px;
  width:305px;
  height:1px;
}
#u4987 {
  position:absolute;
  left:7px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4988 {
  position:absolute;
  left:125px;
  top:305px;
  width:307px;
  height:40px;
  color:#666666;
}
#u4989 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u4990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u4990 {
  position:absolute;
  left:130px;
  top:371px;
  width:305px;
  height:1px;
}
#u4991 {
  position:absolute;
  left:7px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u4992 {
  position:absolute;
  left:125px;
  top:137px;
  width:11px;
  height:19px;
}
#u4993 {
  position:absolute;
  left:7px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u4994 {
  position:absolute;
  left:386px;
  top:286px;
  width:15px;
  height:12px;
}
#u4995 {
  position:absolute;
  left:7px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u4996 {
  position:absolute;
  left:415px;
  top:285px;
  width:12px;
  height:13px;
}
#u4997 {
  position:absolute;
  left:7px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u4998 {
  position:absolute;
  left:388px;
  top:180px;
  width:15px;
  height:12px;
}
#u4999 {
  position:absolute;
  left:7px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4998_ann {
  position:absolute;
  left:396px;
  top:176px;
  width:1px;
  height:1px;
}
#u5000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u5000 {
  position:absolute;
  left:417px;
  top:179px;
  width:12px;
  height:13px;
}
#u5001 {
  position:absolute;
  left:7px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5000_ann {
  position:absolute;
  left:422px;
  top:175px;
  width:1px;
  height:1px;
}
#u5002_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:46px;
  height:5px;
}
#u5002 {
  position:absolute;
  left:233px;
  top:158px;
  width:43px;
  height:2px;
}
#u5003 {
  position:absolute;
  left:7px;
  top:-7px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5004 {
  position:absolute;
  left:125px;
  top:202px;
  width:231px;
  height:34px;
  font-size:12px;
  color:#666666;
}
#u5005 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u5006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:63px;
}
#u5006 {
  position:absolute;
  left:358px;
  top:199px;
  width:70px;
  height:63px;
}
#u5007 {
  position:absolute;
  left:7px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#CCCCCC;
}
#u5008 {
  position:absolute;
  left:126px;
  top:179px;
  width:106px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u5009 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u5010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#CCCCCC;
}
#u5010 {
  position:absolute;
  left:126px;
  top:286px;
  width:140px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u5011 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u5012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u5013 {
  position:absolute;
  left:126px;
  top:244px;
  width:141px;
  height:16px;
  font-size:10px;
  color:#999999;
}
#u5014 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u5015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:344px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5015 {
  position:absolute;
  left:127px;
  top:730px;
  width:300px;
  height:344px;
}
#u5016 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u5017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5018 {
  position:absolute;
  left:139px;
  top:804px;
  width:136px;
  height:77px;
}
#u5019 {
  position:absolute;
  left:7px;
  top:30px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:2px;
}
#u5020 {
  position:absolute;
  left:139px;
  top:852px;
  width:136px;
  height:1px;
}
#u5021 {
  position:absolute;
  left:7px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:30px;
}
#u5022 {
  position:absolute;
  left:207px;
  top:852px;
  width:1px;
  height:29px;
}
#u5023 {
  position:absolute;
  left:7px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5024 {
  position:absolute;
  left:161px;
  top:858px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u5025 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5026 {
  position:absolute;
  left:231px;
  top:858px;
  width:25px;
  height:17px;
  font-size:12px;
}
#u5027 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5028 {
  position:absolute;
  left:166px;
  top:821px;
  width:85px;
  height:17px;
  font-size:12px;
}
#u5029 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5030 {
  position:absolute;
  left:117px;
  top:79px;
  width:105px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5031 {
  position:absolute;
  left:5px;
  top:2px;
  width:98px;
  white-space:nowrap;
}
#u5032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u5033 {
  position:absolute;
  left:126px;
  top:349px;
  width:141px;
  height:16px;
  font-size:10px;
  color:#999999;
}
#u5034 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u5035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:571px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5035 {
  position:absolute;
  left:601px;
  top:108px;
  width:320px;
  height:571px;
}
#u5036 {
  position:absolute;
  left:7px;
  top:278px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5038 {
  position:absolute;
  left:602px;
  top:109px;
  width:318px;
  height:57px;
}
#u5039 {
  position:absolute;
  left:7px;
  top:20px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:11px;
}
#u5040 {
  position:absolute;
  left:609px;
  top:116px;
  width:302px;
  height:11px;
}
#u5041 {
  position:absolute;
  left:7px;
  top:-2px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5042 {
  position:absolute;
  left:603px;
  top:130px;
  width:316px;
  height:35px;
  font-size:14px;
}
#u5043 {
  position:absolute;
  left:7px;
  top:10px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5044 {
  position:absolute;
  left:894px;
  top:141px;
  width:19px;
  height:19px;
}
#u5045 {
  position:absolute;
  left:7px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5046 {
  position:absolute;
  left:783px;
  top:140px;
  width:29px;
  height:20px;
  color:#999999;
}
#u5047 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5048 {
  position:absolute;
  left:717px;
  top:140px;
  width:43px;
  height:20px;
}
#u5049 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u5050 {
  position:absolute;
  left:614px;
  top:269px;
  width:305px;
  height:1px;
}
#u5051 {
  position:absolute;
  left:7px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5052 {
  position:absolute;
  left:609px;
  top:305px;
  width:307px;
  height:40px;
  color:#666666;
}
#u5053 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u5054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u5054 {
  position:absolute;
  left:614px;
  top:371px;
  width:305px;
  height:1px;
}
#u5055 {
  position:absolute;
  left:7px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u5056 {
  position:absolute;
  left:609px;
  top:137px;
  width:11px;
  height:19px;
}
#u5057 {
  position:absolute;
  left:7px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u5058 {
  position:absolute;
  left:870px;
  top:286px;
  width:15px;
  height:12px;
}
#u5059 {
  position:absolute;
  left:7px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u5060 {
  position:absolute;
  left:899px;
  top:285px;
  width:12px;
  height:13px;
}
#u5061 {
  position:absolute;
  left:7px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u5062 {
  position:absolute;
  left:872px;
  top:180px;
  width:15px;
  height:12px;
}
#u5063 {
  position:absolute;
  left:7px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u5064 {
  position:absolute;
  left:901px;
  top:179px;
  width:12px;
  height:13px;
}
#u5065 {
  position:absolute;
  left:7px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5066_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:46px;
  height:5px;
}
#u5066 {
  position:absolute;
  left:717px;
  top:158px;
  width:43px;
  height:2px;
}
#u5067 {
  position:absolute;
  left:7px;
  top:-7px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5068 {
  position:absolute;
  left:609px;
  top:202px;
  width:231px;
  height:34px;
  font-size:12px;
  color:#666666;
}
#u5069 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  word-wrap:break-word;
}
#u5070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:63px;
}
#u5070 {
  position:absolute;
  left:842px;
  top:199px;
  width:70px;
  height:63px;
}
#u5071 {
  position:absolute;
  left:7px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#CCCCCC;
}
#u5072 {
  position:absolute;
  left:610px;
  top:179px;
  width:106px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u5073 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u5074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#CCCCCC;
}
#u5074 {
  position:absolute;
  left:610px;
  top:286px;
  width:140px;
  height:16px;
  font-size:10px;
  color:#CCCCCC;
}
#u5075 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u5076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u5077 {
  position:absolute;
  left:610px;
  top:244px;
  width:141px;
  height:16px;
  font-size:10px;
  color:#999999;
}
#u5078 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u5079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u5080 {
  position:absolute;
  left:610px;
  top:349px;
  width:141px;
  height:16px;
  font-size:10px;
  color:#999999;
}
#u5081 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u5082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:570px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.647058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5082 {
  position:absolute;
  left:602px;
  top:109px;
  width:319px;
  height:570px;
}
#u5083 {
  position:absolute;
  left:7px;
  top:277px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5084 {
  position:absolute;
  left:602px;
  top:579px;
  width:318px;
  height:99px;
}
#u5085 {
  position:absolute;
  left:7px;
  top:42px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5084_ann {
  position:absolute;
  left:913px;
  top:575px;
  width:1px;
  height:1px;
}
#u5086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5086 {
  position:absolute;
  left:628px;
  top:645px;
  width:57px;
  height:20px;
}
#u5087 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u5088 {
  position:absolute;
  left:633px;
  top:595px;
  width:46px;
  height:46px;
}
#u5089 {
  position:absolute;
  left:7px;
  top:15px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5090 {
  position:absolute;
  left:745px;
  top:645px;
  width:29px;
  height:20px;
}
#u5091 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u5092 {
  position:absolute;
  left:738px;
  top:595px;
  width:46px;
  height:46px;
}
#u5093 {
  position:absolute;
  left:7px;
  top:15px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5094 {
  position:absolute;
  left:849px;
  top:645px;
  width:29px;
  height:20px;
}
#u5095 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u5096 {
  position:absolute;
  left:839px;
  top:595px;
  width:46px;
  height:46px;
}
#u5097 {
  position:absolute;
  left:7px;
  top:15px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5098 {
  position:absolute;
  left:429px;
  top:151px;
  width:0px;
  height:0px;
}
#u5098_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u5098_seg1 {
  position:absolute;
  left:92px;
  top:-4px;
  width:8px;
  height:251px;
}
#u5098_seg2 {
  position:absolute;
  left:92px;
  top:239px;
  width:81px;
  height:8px;
}
#u5098_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5098_seg4 {
  position:absolute;
  left:160px;
  top:233px;
  width:20px;
  height:20px;
}
#u5099 {
  position:absolute;
  left:46px;
  top:104px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
