body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:663px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u226 {
  position:absolute;
  left:66px;
  top:32px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  position:absolute;
  left:66px;
  top:90px;
  width:55px;
  height:16px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  position:absolute;
  left:186px;
  top:73px;
  width:90px;
  height:50px;
}
#u231 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:121px;
  top:98px;
  width:0px;
  height:0px;
}
#u232_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u232_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u232_seg2 {
  position:absolute;
  left:39px;
  top:-20px;
  width:40px;
  height:40px;
}
#u233 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  position:absolute;
  left:376px;
  top:73px;
  width:90px;
  height:50px;
}
#u235 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:276px;
  top:98px;
  width:0px;
  height:0px;
}
#u236_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u236_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u236_seg2 {
  position:absolute;
  left:74px;
  top:-20px;
  width:40px;
  height:40px;
}
#u237 {
  position:absolute;
  left:0px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  position:absolute;
  left:555px;
  top:73px;
  width:90px;
  height:50px;
}
#u239 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:466px;
  top:98px;
  width:0px;
  height:0px;
}
#u240_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:93px;
  height:8px;
}
#u240_seg1 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u240_seg2 {
  position:absolute;
  left:63px;
  top:-20px;
  width:40px;
  height:40px;
}
#u241 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u242 {
  position:absolute;
  left:363px;
  top:225px;
  width:116px;
  height:50px;
}
#u243 {
  position:absolute;
  left:2px;
  top:17px;
  width:112px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:421px;
  top:123px;
  width:0px;
  height:0px;
}
#u244_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:106px;
}
#u244_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u244_seg2 {
  position:absolute;
  left:-20px;
  top:76px;
  width:40px;
  height:40px;
}
#u245 {
  position:absolute;
  left:-50px;
  top:43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:645px;
  top:98px;
  width:0px;
  height:0px;
}
#u246_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:19px;
  height:8px;
}
#u246_seg1 {
  position:absolute;
  left:11px;
  top:-4px;
  width:8px;
  height:240px;
}
#u246_seg2 {
  position:absolute;
  left:-479px;
  top:228px;
  width:498px;
  height:8px;
}
#u246_seg3 {
  position:absolute;
  left:-479px;
  top:-4px;
  width:8px;
  height:240px;
}
#u246_seg4 {
  position:absolute;
  left:-479px;
  top:-4px;
  width:20px;
  height:8px;
}
#u247 {
  position:absolute;
  left:-280px;
  top:222px;
  width:100px;
  word-wrap:break-word;
}
