body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:905px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:646px;
}
#u2608 {
  position:absolute;
  left:553px;
  top:40px;
  width:352px;
  height:646px;
}
#u2609 {
  position:absolute;
  left:2px;
  top:315px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2610 {
  position:absolute;
  left:58px;
  top:40px;
  width:351px;
  height:667px;
}
#u2611 {
  position:absolute;
  left:2px;
  top:326px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.00784313725490196);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2612 {
  position:absolute;
  left:58px;
  top:40px;
  width:351px;
  height:667px;
}
#u2613 {
  position:absolute;
  left:2px;
  top:326px;
  width:347px;
  word-wrap:break-word;
}
#u2614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2614 {
  position:absolute;
  left:358px;
  top:54px;
  width:1px;
  height:16px;
}
#u2615 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u2616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:19px;
}
#u2616 {
  position:absolute;
  left:58px;
  top:40px;
  width:351px;
  height:19px;
}
#u2617 {
  position:absolute;
  left:2px;
  top:2px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u2618 {
  position:absolute;
  left:72px;
  top:72px;
  width:12px;
  height:20px;
}
#u2619 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2620 {
  position:absolute;
  left:83px;
  top:79px;
  width:299px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2621 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u2622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:279px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2622 {
  position:absolute;
  left:82px;
  top:119px;
  width:303px;
  height:279px;
  font-size:12px;
}
#u2623 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  word-wrap:break-word;
}
#u2624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2624 {
  position:absolute;
  left:58px;
  top:664px;
  width:351px;
  height:43px;
}
#u2625 {
  position:absolute;
  left:2px;
  top:14px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2626 {
  position:absolute;
  left:156px;
  top:222px;
  width:182px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2627 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u2628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:162px;
}
#u2628 {
  position:absolute;
  left:82px;
  top:241px;
  width:300px;
  height:162px;
}
#u2629 {
  position:absolute;
  left:2px;
  top:73px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2630 {
  position:absolute;
  left:298px;
  top:671px;
  width:25px;
  height:25px;
}
#u2631 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u2632 {
  position:absolute;
  left:67px;
  top:678px;
  width:15px;
  height:16px;
}
#u2633 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2634 {
  position:absolute;
  left:83px;
  top:415px;
  width:303px;
  height:126px;
  font-size:12px;
}
#u2635 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  word-wrap:break-word;
}
#u2636 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:11px;
}
#u2637 {
  position:absolute;
  left:62px;
  top:44px;
  width:346px;
  height:11px;
}
#u2638 {
  position:absolute;
  left:2px;
  top:-2px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u2639 {
  position:absolute;
  left:372px;
  top:670px;
  width:24px;
  height:27px;
}
#u2640 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u2641 {
  position:absolute;
  left:222px;
  top:671px;
  width:23px;
  height:25px;
}
#u2642 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2643 {
  position:absolute;
  left:138px;
  top:674px;
  width:23px;
  height:23px;
}
#u2644 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:649px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.658823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2645 {
  position:absolute;
  left:58px;
  top:40px;
  width:350px;
  height:649px;
}
#u2646 {
  position:absolute;
  left:2px;
  top:316px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2647 {
  position:absolute;
  left:58px;
  top:482px;
  width:351px;
  height:225px;
}
#u2648 {
  position:absolute;
  left:2px;
  top:104px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:74px;
}
#u2649 {
  position:absolute;
  left:130px;
  top:493px;
  width:76px;
  height:74px;
}
#u2650 {
  position:absolute;
  left:2px;
  top:29px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:78px;
}
#u2651 {
  position:absolute;
  left:193px;
  top:489px;
  width:73px;
  height:78px;
}
#u2652 {
  position:absolute;
  left:2px;
  top:31px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:72px;
}
#u2653 {
  position:absolute;
  left:329px;
  top:493px;
  width:63px;
  height:72px;
}
#u2654 {
  position:absolute;
  left:2px;
  top:28px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:74px;
}
#u2655 {
  position:absolute;
  left:72px;
  top:607px;
  width:72px;
  height:74px;
}
#u2656 {
  position:absolute;
  left:2px;
  top:29px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
}
#u2657 {
  position:absolute;
  left:65px;
  top:491px;
  width:75px;
  height:71px;
}
#u2658 {
  position:absolute;
  left:2px;
  top:28px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:91px;
}
#u2659 {
  position:absolute;
  left:153px;
  top:608px;
  width:89px;
  height:91px;
}
#u2660 {
  position:absolute;
  left:2px;
  top:38px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u2661 {
  position:absolute;
  left:257px;
  top:494px;
  width:72px;
  height:72px;
}
#u2662 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:2px;
}
#u2663 {
  position:absolute;
  left:72px;
  top:594px;
  width:322px;
  height:1px;
}
#u2664 {
  position:absolute;
  left:2px;
  top:-8px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2665 {
  position:absolute;
  left:553px;
  top:18px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2666 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2667 {
  position:absolute;
  left:204px;
  top:646px;
  width:0px;
  height:0px;
}
#u2667_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:316px;
  height:8px;
}
#u2667_seg1 {
  position:absolute;
  left:308px;
  top:-287px;
  width:8px;
  height:291px;
}
#u2667_seg2 {
  position:absolute;
  left:308px;
  top:-287px;
  width:41px;
  height:8px;
}
#u2667_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u2667_seg4 {
  position:absolute;
  left:336px;
  top:-293px;
  width:20px;
  height:20px;
}
#u2668 {
  position:absolute;
  left:262px;
  top:-12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
