body {
  margin:0px;
  background-color:rgba(51, 62, 80, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
  line-height:72px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:620px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
  line-height:72px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:302px;
  width:1200px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
  -webkit-text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
  -moz-text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(79, 193, 176, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:left;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:left;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:19px;
  width:1158px;
  word-wrap:break-word;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:1116px;
  top:55px;
  width:57px;
  height:47px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u910_img.mouseOver {
}
#u910.mouseOver {
  opacity:0.8;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:55px;
  width:57px;
  height:47px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u912_img.mouseOver {
}
#u912.mouseOver {
  opacity:0.8;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:308px;
  width:228px;
  height:74px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u914_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:74px;
  background:inherit;
  background-color:rgba(47, 140, 255, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u914.selected {
}
#u915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:228px;
  word-wrap:break-word;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:55px;
  width:57px;
  height:47px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u916_img.mouseOver {
}
#u916.mouseOver {
  opacity:0.8;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:150px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:153px;
  width:71px;
  height:150px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:169px;
  width:65px;
  height:116px;
  overflow:hidden;
}
#u920_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:116px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u920_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:156px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-4px;
  width:93px;
  height:156px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:116px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u920_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:126px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:75px;
  height:126px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:308px;
  width:228px;
  height:74px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u925_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:74px;
  background:inherit;
  background-color:rgba(47, 140, 255, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u925.selected {
}
#u926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:228px;
  word-wrap:break-word;
}
#u927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:150px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:151px;
  width:74px;
  height:150px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:308px;
  width:228px;
  height:74px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u929_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:74px;
  background:inherit;
  background-color:rgba(47, 140, 255, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u929.selected {
}
#u930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:228px;
  word-wrap:break-word;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:150px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:152px;
  width:73px;
  height:150px;
  opacity:0.5;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:308px;
  width:228px;
  height:74px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u933_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:74px;
  background:inherit;
  background-color:rgba(47, 140, 255, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u933.selected {
}
#u934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:228px;
  word-wrap:break-word;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:150px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:152px;
  width:71px;
  height:150px;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:556px;
  width:228px;
  height:74px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u937_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:74px;
  background:inherit;
  background-color:rgba(47, 140, 255, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u937.selected {
}
#u938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:228px;
  word-wrap:break-word;
}
#u939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:556px;
  width:228px;
  height:74px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u939_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:74px;
  background:inherit;
  background-color:rgba(47, 140, 255, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u939.selected {
}
#u940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:228px;
  word-wrap:break-word;
}
#u941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:150px;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:396px;
  width:71px;
  height:150px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:150px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:396px;
  width:71px;
  height:150px;
  opacity:0.5;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:169px;
  width:63px;
  height:114px;
  overflow:hidden;
}
#u945_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:114px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u945_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:156px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-4px;
  width:93px;
  height:156px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:114px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u945_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:126px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:75px;
  height:126px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:170px;
  width:63px;
  height:114px;
  overflow:hidden;
}
#u950_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:114px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u950_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:156px;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-4px;
  width:93px;
  height:156px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:114px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u950_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:126px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:75px;
  height:126px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:169px;
  width:64px;
  height:114px;
  overflow:hidden;
}
#u955_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:114px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u955_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:156px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-4px;
  width:93px;
  height:156px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:114px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u955_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:126px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:75px;
  height:126px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:414px;
  width:63px;
  height:114px;
  overflow:hidden;
}
#u960_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:114px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u960_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:156px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-4px;
  width:93px;
  height:156px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:114px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u960_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:126px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:75px;
  height:126px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:414px;
  width:63px;
  height:114px;
  overflow:hidden;
}
#u965_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:114px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u965_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:156px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-4px;
  width:93px;
  height:156px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:114px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u965_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:126px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:75px;
  height:126px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:173px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:103px;
  width:320px;
  height:173px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.8;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:158px;
  width:293px;
  height:96px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:134px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:132px;
  width:16px;
  height:16px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:556px;
  width:228px;
  height:74px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u980_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:74px;
  background:inherit;
  background-color:rgba(47, 140, 255, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u980.selected {
}
#u981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:228px;
  word-wrap:break-word;
}
#u982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:556px;
  width:228px;
  height:74px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u982_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:74px;
  background:inherit;
  background-color:rgba(47, 140, 255, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u982.selected {
}
#u983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:9px;
  width:228px;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:150px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:400px;
  width:75px;
  height:150px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:413px;
  width:67px;
  height:121px;
  overflow:hidden;
}
#u986_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:121px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u986_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:156px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-4px;
  width:93px;
  height:156px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:121px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u986_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:131px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-3px;
  width:78px;
  height:131px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:150px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:396px;
  width:195px;
  height:150px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:412px;
  width:157px;
  height:117px;
  overflow:hidden;
}
#u993_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:117px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u993_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:145px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:145px;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:117px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u993_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:120px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:120px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
