body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:976px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:329px;
}
#u1460 {
  position:absolute;
  left:361px;
  top:257px;
  width:615px;
  height:329px;
}
#u1461 {
  position:absolute;
  left:2px;
  top:156px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
