body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:413px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:572px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.576470588235294);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2896 {
  position:absolute;
  left:93px;
  top:76px;
  width:320px;
  height:572px;
}
#u2897 {
  position:absolute;
  left:7px;
  top:278px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2899 {
  position:absolute;
  left:94px;
  top:77px;
  width:318px;
  height:57px;
}
#u2900 {
  position:absolute;
  left:7px;
  top:20px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:11px;
}
#u2901 {
  position:absolute;
  left:101px;
  top:84px;
  width:302px;
  height:11px;
}
#u2902 {
  position:absolute;
  left:7px;
  top:-2px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2903 {
  position:absolute;
  left:95px;
  top:98px;
  width:316px;
  height:35px;
  font-size:14px;
}
#u2904 {
  position:absolute;
  left:7px;
  top:8px;
  width:307px;
  word-wrap:break-word;
}
#u2905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u2905 {
  position:absolute;
  left:101px;
  top:105px;
  width:11px;
  height:19px;
}
#u2906 {
  position:absolute;
  left:7px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2905_ann {
  position:absolute;
  left:105px;
  top:101px;
  width:1px;
  height:1px;
}
#u2907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u2907 {
  position:absolute;
  left:380px;
  top:105px;
  width:26px;
  height:24px;
}
#u2908 {
  position:absolute;
  left:7px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2907_ann {
  position:absolute;
  left:399px;
  top:101px;
  width:1px;
  height:1px;
}
#u2909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:380px;
}
#u2909 {
  position:absolute;
  left:123px;
  top:154px;
  width:264px;
  height:380px;
}
#u2910 {
  position:absolute;
  left:7px;
  top:182px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2911 {
  position:absolute;
  left:224px;
  top:188px;
  width:53px;
  height:53px;
}
#u2912 {
  position:absolute;
  left:7px;
  top:17px;
  width:44px;
  word-wrap:break-word;
}
#u2913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2913 {
  position:absolute;
  left:237px;
  top:251px;
  width:29px;
  height:20px;
}
#u2914 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:155px;
}
#u2915 {
  position:absolute;
  left:176px;
  top:284px;
  width:154px;
  height:155px;
}
#u2916 {
  position:absolute;
  left:7px;
  top:70px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2915_ann {
  position:absolute;
  left:323px;
  top:280px;
  width:1px;
  height:1px;
}
#u2917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2917 {
  position:absolute;
  left:94px;
  top:45px;
  width:141px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2918 {
  position:absolute;
  left:5px;
  top:2px;
  width:134px;
  white-space:nowrap;
}
#u2919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:83px;
}
#u2919 {
  position:absolute;
  left:319px;
  top:121px;
  width:92px;
  height:83px;
}
#u2920 {
  position:absolute;
  left:7px;
  top:34px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2921 {
  position:absolute;
  left:338px;
  top:146px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u2922 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2921_ann {
  position:absolute;
  left:388px;
  top:142px;
  width:1px;
  height:1px;
}
#u2923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2923 {
  position:absolute;
  left:338px;
  top:178px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u2924 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2923_ann {
  position:absolute;
  left:388px;
  top:174px;
  width:1px;
  height:1px;
}
#u2925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:2px;
}
#u2925 {
  position:absolute;
  left:320px;
  top:169px;
  width:92px;
  height:1px;
}
#u2926 {
  position:absolute;
  left:7px;
  top:-8px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u2927 {
  position:absolute;
  left:173px;
  top:454px;
  width:167px;
  height:16px;
  font-size:10px;
  color:#999999;
}
#u2928 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
