body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1872px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2437px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u835 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2437px;
  color:#A1A1A1;
}
#u836 {
  position:absolute;
  left:2px;
  top:1210px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:81px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:81px;
}
#u839 {
  position:absolute;
  left:2px;
  top:32px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u840 {
  position:absolute;
  left:407px;
  top:29px;
  width:57px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u841 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u842 {
  position:absolute;
  left:528px;
  top:28px;
  width:31px;
  height:20px;
}
#u843 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844 {
  position:absolute;
  left:630px;
  top:28px;
  width:57px;
  height:20px;
}
#u845 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u846 {
  position:absolute;
  left:772px;
  top:25px;
  width:54px;
  height:27px;
}
#u847 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  white-space:nowrap;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u848 {
  position:absolute;
  left:240px;
  top:9px;
  width:60px;
  height:60px;
}
#u849 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:47px;
}
#u851 {
  position:absolute;
  left:1705px;
  top:11px;
  width:42px;
  height:47px;
}
#u851_img.mouseOver {
}
#u851.mouseOver {
}
#u851_img.mouseDown {
}
#u851.mouseDown {
}
#u851_img.selected {
}
#u851.selected {
}
#u852 {
  position:absolute;
  left:2px;
  top:16px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u853 {
  position:absolute;
  left:1754px;
  top:25px;
  width:37px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u854 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u855 {
  position:absolute;
  left:1804px;
  top:25px;
  width:42px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u858 {
  position:absolute;
  left:1226px;
  top:13px;
  width:307px;
  height:45px;
}
#u859 {
  position:absolute;
  left:2px;
  top:14px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u860 {
  position:absolute;
  left:1492px;
  top:20px;
  width:29px;
  height:32px;
}
#u861 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:63px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863 {
  position:absolute;
  left:0px;
  top:79px;
  width:1920px;
  height:63px;
}
#u864 {
  position:absolute;
  left:2px;
  top:24px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u865 {
  position:absolute;
  left:257px;
  top:91px;
  width:79px;
  height:40px;
  color:#868686;
}
#u866 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u867 {
  position:absolute;
  left:442px;
  top:91px;
  width:73px;
  height:40px;
  color:#868686;
}
#u868 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u869 {
  position:absolute;
  left:528px;
  top:91px;
  width:75px;
  height:40px;
  color:#868686;
}
#u870 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u871 {
  position:absolute;
  left:346px;
  top:91px;
  width:82px;
  height:40px;
  color:#868686;
}
#u872 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  word-wrap:break-word;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u873 {
  position:absolute;
  left:617px;
  top:91px;
  width:88px;
  height:40px;
  color:#868686;
}
#u874 {
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u875 {
  position:absolute;
  left:729px;
  top:91px;
  width:73px;
  height:40px;
  color:#868686;
}
#u876 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u877 {
  position:absolute;
  left:819px;
  top:91px;
  width:73px;
  height:40px;
  color:#000000;
}
#u878 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u879 {
  position:absolute;
  left:914px;
  top:91px;
  width:73px;
  height:40px;
  color:#868686;
}
#u880 {
  position:absolute;
  left:2px;
  top:12px;
  width:69px;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1968px;
  height:496px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u881 {
  position:absolute;
  left:-48px;
  top:142px;
  width:1968px;
  height:496px;
}
#u882 {
  position:absolute;
  left:2px;
  top:240px;
  width:1964px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u883 {
  position:absolute;
  left:560px;
  top:308px;
  width:337px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u884 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
}
#u885 {
  position:absolute;
  left:679px;
  top:406px;
  width:301px;
  height:24px;
  font-size:20px;
  color:#999999;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1439px;
  height:578px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u887 {
  position:absolute;
  left:257px;
  top:751px;
  width:1439px;
  height:578px;
}
#u888 {
  position:absolute;
  left:2px;
  top:281px;
  width:1435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u889 {
  position:absolute;
  left:890px;
  top:672px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u891 {
  position:absolute;
  left:302px;
  top:905px;
  width:170px;
  height:170px;
}
#u892 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u893 {
  position:absolute;
  left:305px;
  top:1101px;
  width:178px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u895 {
  position:absolute;
  left:586px;
  top:717px;
  width:763px;
  height:23px;
  font-size:20px;
  text-align:center;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  word-wrap:break-word;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u897 {
  position:absolute;
  left:688px;
  top:905px;
  width:170px;
  height:170px;
}
#u898 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u899 {
  position:absolute;
  left:667px;
  top:1101px;
  width:198px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:2px;
}
#u901 {
  position:absolute;
  left:505px;
  top:990px;
  width:144px;
  height:1px;
}
#u902 {
  position:absolute;
  left:2px;
  top:-8px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:2px;
}
#u903 {
  position:absolute;
  left:906px;
  top:990px;
  width:123px;
  height:1px;
}
#u904 {
  position:absolute;
  left:2px;
  top:-8px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u905 {
  position:absolute;
  left:1073px;
  top:905px;
  width:170px;
  height:170px;
}
#u906 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u907 {
  position:absolute;
  left:1089px;
  top:1101px;
  width:138px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:2px;
}
#u909 {
  position:absolute;
  left:1280px;
  top:990px;
  width:123px;
  height:1px;
}
#u910 {
  position:absolute;
  left:2px;
  top:-8px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u911 {
  position:absolute;
  left:1449px;
  top:905px;
  width:170px;
  height:170px;
}
#u912 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u913 {
  position:absolute;
  left:1433px;
  top:1101px;
  width:205px;
  height:51px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u914 {
  position:absolute;
  left:0px;
  top:2px;
  width:205px;
  word-wrap:break-word;
}
#u915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u915 {
  position:absolute;
  left:337px;
  top:1205px;
  width:105px;
  height:28px;
  font-size:20px;
}
#u916 {
  position:absolute;
  left:2px;
  top:2px;
  width:101px;
  white-space:nowrap;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u917 {
  position:absolute;
  left:828px;
  top:1472px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u919 {
  position:absolute;
  left:305px;
  top:1680px;
  width:306px;
  height:232px;
}
#u920 {
  position:absolute;
  left:2px;
  top:108px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u921 {
  position:absolute;
  left:389px;
  top:1831px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u923 {
  position:absolute;
  left:406px;
  top:1728px;
  width:83px;
  height:83px;
}
#u924 {
  position:absolute;
  left:2px;
  top:34px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u925 {
  position:absolute;
  left:667px;
  top:1680px;
  width:306px;
  height:232px;
}
#u926 {
  position:absolute;
  left:2px;
  top:108px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u927 {
  position:absolute;
  left:680px;
  top:1831px;
  width:281px;
  height:24px;
  font-size:20px;
}
#u928 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u929 {
  position:absolute;
  left:783px;
  top:1720px;
  width:83px;
  height:83px;
}
#u930 {
  position:absolute;
  left:2px;
  top:34px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u931 {
  position:absolute;
  left:1025px;
  top:1680px;
  width:306px;
  height:232px;
}
#u932 {
  position:absolute;
  left:2px;
  top:108px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u933 {
  position:absolute;
  left:1109px;
  top:1831px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u934 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u935 {
  position:absolute;
  left:1128px;
  top:1720px;
  width:83px;
  height:83px;
}
#u936 {
  position:absolute;
  left:2px;
  top:34px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u937 {
  position:absolute;
  left:1390px;
  top:1680px;
  width:306px;
  height:232px;
}
#u938 {
  position:absolute;
  left:2px;
  top:108px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u939 {
  position:absolute;
  left:1484px;
  top:1831px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:83px;
}
#u941 {
  position:absolute;
  left:1493px;
  top:1720px;
  width:83px;
  height:83px;
}
#u942 {
  position:absolute;
  left:2px;
  top:34px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
