body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:798px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:593px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3950 {
  position:absolute;
  left:28px;
  top:60px;
  width:320px;
  height:593px;
}
#u3951 {
  position:absolute;
  left:7px;
  top:288px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3953 {
  position:absolute;
  left:29px;
  top:61px;
  width:318px;
  height:57px;
}
#u3954 {
  position:absolute;
  left:7px;
  top:20px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:11px;
}
#u3955 {
  position:absolute;
  left:36px;
  top:68px;
  width:302px;
  height:11px;
}
#u3956 {
  position:absolute;
  left:7px;
  top:-2px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3957 {
  position:absolute;
  left:30px;
  top:82px;
  width:316px;
  height:35px;
  font-size:14px;
}
#u3958 {
  position:absolute;
  left:7px;
  top:8px;
  width:307px;
  word-wrap:break-word;
}
#u3959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3959 {
  position:absolute;
  left:29px;
  top:118px;
  width:318px;
  height:208px;
}
#u3960 {
  position:absolute;
  left:7px;
  top:96px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3959_ann {
  position:absolute;
  left:340px;
  top:114px;
  width:1px;
  height:1px;
}
#u3961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u3961 {
  position:absolute;
  left:41px;
  top:126px;
  width:33px;
  height:33px;
  color:#999999;
}
#u3962 {
  position:absolute;
  left:7px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u3961_ann {
  position:absolute;
  left:67px;
  top:122px;
  width:1px;
  height:1px;
}
#u3963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u3963 {
  position:absolute;
  left:81px;
  top:126px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u3964 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3963_ann {
  position:absolute;
  left:171px;
  top:122px;
  width:1px;
  height:1px;
}
#u3965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u3965 {
  position:absolute;
  left:309px;
  top:125px;
  width:27px;
  height:15px;
  font-size:8px;
  color:#999999;
}
#u3966 {
  position:absolute;
  left:7px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u3967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3967 {
  position:absolute;
  left:29px;
  top:222px;
  width:318px;
  height:104px;
}
#u3968 {
  position:absolute;
  left:7px;
  top:44px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u3969 {
  position:absolute;
  left:36px;
  top:92px;
  width:9px;
  height:16px;
}
#u3970 {
  position:absolute;
  left:7px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u3971 {
  position:absolute;
  left:29px;
  top:327px;
  width:318px;
  height:1px;
}
#u3972 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u3973 {
  position:absolute;
  left:158px;
  top:334px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u3974 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:left;
}
#u3975 {
  position:absolute;
  left:81px;
  top:168px;
  width:261px;
  height:26px;
  font-size:10px;
  text-align:left;
}
#u3976 {
  position:absolute;
  left:7px;
  top:5px;
  width:252px;
  word-wrap:break-word;
}
#u3975_ann {
  position:absolute;
  left:335px;
  top:164px;
  width:1px;
  height:1px;
}
#u3977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3977 {
  position:absolute;
  left:81px;
  top:148px;
  width:219px;
  height:21px;
}
#u3978 {
  position:absolute;
  left:2px;
  top:2px;
  width:215px;
  word-wrap:break-word;
}
#u3977_ann {
  position:absolute;
  left:293px;
  top:144px;
  width:1px;
  height:1px;
}
#u3979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#CCCCCC;
}
#u3979 {
  position:absolute;
  left:81px;
  top:199px;
  width:30px;
  height:11px;
  font-size:8px;
  color:#CCCCCC;
}
#u3980 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u3979_ann {
  position:absolute;
  left:104px;
  top:195px;
  width:1px;
  height:1px;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:2px;
}
#u3981 {
  position:absolute;
  left:81px;
  top:217px;
  width:267px;
  height:1px;
}
#u3982 {
  position:absolute;
  left:7px;
  top:-8px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u3983 {
  position:absolute;
  left:41px;
  top:229px;
  width:33px;
  height:33px;
  color:#999999;
}
#u3984 {
  position:absolute;
  left:7px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u3985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u3985 {
  position:absolute;
  left:81px;
  top:229px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u3986 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u3987 {
  position:absolute;
  left:309px;
  top:228px;
  width:27px;
  height:15px;
  font-size:8px;
  color:#999999;
}
#u3988 {
  position:absolute;
  left:7px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u3987_ann {
  position:absolute;
  left:329px;
  top:224px;
  width:1px;
  height:1px;
}
#u3989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:left;
}
#u3989 {
  position:absolute;
  left:81px;
  top:271px;
  width:261px;
  height:26px;
  font-size:10px;
  text-align:left;
}
#u3990 {
  position:absolute;
  left:7px;
  top:5px;
  width:252px;
  word-wrap:break-word;
}
#u3991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3991 {
  position:absolute;
  left:81px;
  top:251px;
  width:219px;
  height:21px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:2px;
  width:215px;
  word-wrap:break-word;
}
#u3993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#CCCCCC;
}
#u3993 {
  position:absolute;
  left:81px;
  top:302px;
  width:73px;
  height:11px;
  font-size:8px;
  color:#CCCCCC;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:593px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3995 {
  position:absolute;
  left:478px;
  top:60px;
  width:320px;
  height:593px;
}
#u3996 {
  position:absolute;
  left:7px;
  top:288px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3998 {
  position:absolute;
  left:479px;
  top:61px;
  width:318px;
  height:57px;
}
#u3999 {
  position:absolute;
  left:7px;
  top:20px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:11px;
}
#u4000 {
  position:absolute;
  left:486px;
  top:68px;
  width:302px;
  height:11px;
}
#u4001 {
  position:absolute;
  left:7px;
  top:-2px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4002 {
  position:absolute;
  left:480px;
  top:82px;
  width:316px;
  height:35px;
  font-size:14px;
}
#u4003 {
  position:absolute;
  left:7px;
  top:8px;
  width:307px;
  word-wrap:break-word;
}
#u4004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:208px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4004 {
  position:absolute;
  left:479px;
  top:118px;
  width:318px;
  height:208px;
}
#u4005 {
  position:absolute;
  left:7px;
  top:96px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4006 {
  position:absolute;
  left:491px;
  top:126px;
  width:33px;
  height:33px;
  color:#999999;
}
#u4007 {
  position:absolute;
  left:7px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u4008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u4008 {
  position:absolute;
  left:531px;
  top:126px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u4009 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u4010 {
  position:absolute;
  left:729px;
  top:125px;
  width:27px;
  height:15px;
  font-size:8px;
  color:#999999;
}
#u4011 {
  position:absolute;
  left:7px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u4012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4012 {
  position:absolute;
  left:479px;
  top:222px;
  width:318px;
  height:104px;
}
#u4013 {
  position:absolute;
  left:7px;
  top:44px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u4014 {
  position:absolute;
  left:486px;
  top:92px;
  width:9px;
  height:16px;
}
#u4015 {
  position:absolute;
  left:7px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u4016 {
  position:absolute;
  left:479px;
  top:327px;
  width:318px;
  height:1px;
}
#u4017 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4018 {
  position:absolute;
  left:608px;
  top:334px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u4019 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:left;
}
#u4020 {
  position:absolute;
  left:531px;
  top:168px;
  width:261px;
  height:26px;
  font-size:10px;
  text-align:left;
}
#u4021 {
  position:absolute;
  left:7px;
  top:5px;
  width:252px;
  word-wrap:break-word;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4022 {
  position:absolute;
  left:531px;
  top:148px;
  width:219px;
  height:21px;
}
#u4023 {
  position:absolute;
  left:2px;
  top:2px;
  width:215px;
  word-wrap:break-word;
}
#u4024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#CCCCCC;
}
#u4024 {
  position:absolute;
  left:531px;
  top:199px;
  width:30px;
  height:11px;
  font-size:8px;
  color:#CCCCCC;
}
#u4025 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u4026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u4026 {
  position:absolute;
  left:765px;
  top:125px;
  width:27px;
  height:15px;
  font-size:8px;
  color:#999999;
}
#u4027 {
  position:absolute;
  left:7px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u4028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:2px;
}
#u4028 {
  position:absolute;
  left:531px;
  top:217px;
  width:267px;
  height:1px;
}
#u4029 {
  position:absolute;
  left:7px;
  top:-8px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u4030 {
  position:absolute;
  left:491px;
  top:229px;
  width:33px;
  height:33px;
  color:#999999;
}
#u4031 {
  position:absolute;
  left:7px;
  top:7px;
  width:24px;
  word-wrap:break-word;
}
#u4032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u4032 {
  position:absolute;
  left:531px;
  top:229px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u4034 {
  position:absolute;
  left:729px;
  top:228px;
  width:27px;
  height:15px;
  font-size:8px;
  color:#999999;
}
#u4035 {
  position:absolute;
  left:7px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u4036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:left;
}
#u4036 {
  position:absolute;
  left:531px;
  top:271px;
  width:261px;
  height:26px;
  font-size:10px;
  text-align:left;
}
#u4037 {
  position:absolute;
  left:7px;
  top:5px;
  width:252px;
  word-wrap:break-word;
}
#u4038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4038 {
  position:absolute;
  left:531px;
  top:251px;
  width:219px;
  height:21px;
}
#u4039 {
  position:absolute;
  left:2px;
  top:2px;
  width:215px;
  word-wrap:break-word;
}
#u4040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#CCCCCC;
}
#u4040 {
  position:absolute;
  left:531px;
  top:302px;
  width:73px;
  height:11px;
  font-size:8px;
  color:#CCCCCC;
}
#u4041 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u4042 {
  position:absolute;
  left:765px;
  top:228px;
  width:27px;
  height:15px;
  font-size:8px;
  color:#FFFFFF;
}
#u4043 {
  position:absolute;
  left:7px;
  top:2px;
  width:18px;
  word-wrap:break-word;
}
#u4044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:245px;
}
#u4044 {
  position:absolute;
  left:479px;
  top:407px;
  width:318px;
  height:245px;
}
#u4045 {
  position:absolute;
  left:7px;
  top:114px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u4046 {
  position:absolute;
  left:479px;
  top:351px;
  width:318px;
  height:56px;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u4047 {
  position:absolute;
  left:7px;
  top:20px;
  width:309px;
  word-wrap:break-word;
}
#u4048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u4048 {
  position:absolute;
  left:499px;
  top:374px;
  width:1px;
  height:14px;
}
#u4049 {
  position:absolute;
  left:7px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:291px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.27843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4050 {
  position:absolute;
  left:479px;
  top:60px;
  width:318px;
  height:291px;
}
#u4051 {
  position:absolute;
  left:7px;
  top:138px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4052 {
  position:absolute;
  left:323px;
  top:243px;
  width:0px;
  height:0px;
}
#u4052_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:140px;
}
#u4052_seg1 {
  position:absolute;
  left:-4px;
  top:132px;
  width:160px;
  height:8px;
}
#u4052_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4052_seg3 {
  position:absolute;
  left:143px;
  top:126px;
  width:20px;
  height:20px;
}
#u4053 {
  position:absolute;
  left:-40px;
  top:128px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4054 {
  position:absolute;
  left:29px;
  top:36px;
  width:123px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4055 {
  position:absolute;
  left:5px;
  top:2px;
  width:116px;
  white-space:nowrap;
}
#u4056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4056 {
  position:absolute;
  left:478px;
  top:36px;
  width:139px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4057 {
  position:absolute;
  left:5px;
  top:2px;
  width:132px;
  white-space:nowrap;
}
#u4058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4058 {
  position:absolute;
  left:768px;
  top:369px;
  width:21px;
  height:21px;
}
#u4059 {
  position:absolute;
  left:7px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4058_ann {
  position:absolute;
  left:782px;
  top:365px;
  width:1px;
  height:1px;
}
#u4060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u4060 {
  position:absolute;
  left:488px;
  top:365px;
  width:270px;
  height:32px;
  color:#999999;
  text-align:left;
}
#u4061 {
  position:absolute;
  left:7px;
  top:6px;
  width:261px;
  word-wrap:break-word;
}
