body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1921px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:3689px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1791 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:3689px;
}
#u1792 {
  position:absolute;
  left:2px;
  top:1836px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1793 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:80px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1794 {
  position:absolute;
  left:1px;
  top:0px;
  width:1920px;
  height:80px;
}
#u1795 {
  position:absolute;
  left:2px;
  top:32px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1796 {
  position:absolute;
  left:408px;
  top:29px;
  width:57px;
  height:20px;
}
#u1797 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1798 {
  position:absolute;
  left:529px;
  top:28px;
  width:31px;
  height:20px;
}
#u1799 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1800 {
  position:absolute;
  left:631px;
  top:28px;
  width:57px;
  height:20px;
}
#u1801 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1802 {
  position:absolute;
  left:773px;
  top:25px;
  width:54px;
  height:27px;
}
#u1803 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  white-space:nowrap;
}
#u1804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1804 {
  position:absolute;
  left:241px;
  top:9px;
  width:60px;
  height:60px;
}
#u1805 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u1806 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:47px;
}
#u1807 {
  position:absolute;
  left:1706px;
  top:11px;
  width:42px;
  height:47px;
}
#u1807_img.mouseOver {
}
#u1807.mouseOver {
}
#u1807_img.mouseDown {
}
#u1807.mouseDown {
}
#u1807_img.selected {
}
#u1807.selected {
}
#u1808 {
  position:absolute;
  left:2px;
  top:16px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u1809 {
  position:absolute;
  left:1755px;
  top:25px;
  width:37px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u1810 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u1811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u1811 {
  position:absolute;
  left:1805px;
  top:25px;
  width:42px;
  height:15px;
  font-family:'宋体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u1812 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u1813 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1814 {
  position:absolute;
  left:1227px;
  top:13px;
  width:307px;
  height:45px;
}
#u1815 {
  position:absolute;
  left:2px;
  top:14px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u1816 {
  position:absolute;
  left:1493px;
  top:20px;
  width:29px;
  height:32px;
}
#u1817 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1819 {
  position:absolute;
  left:221px;
  top:218px;
  width:129px;
  height:56px;
}
#u1820 {
  position:absolute;
  left:2px;
  top:20px;
  width:125px;
  word-wrap:break-word;
}
#u1821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1821 {
  position:absolute;
  left:221px;
  top:272px;
  width:129px;
  height:58px;
}
#u1822 {
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  word-wrap:break-word;
}
#u1823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1823 {
  position:absolute;
  left:221px;
  top:329px;
  width:129px;
  height:58px;
}
#u1824 {
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  word-wrap:break-word;
}
#u1825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1825 {
  position:absolute;
  left:221px;
  top:386px;
  width:129px;
  height:58px;
}
#u1826 {
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  word-wrap:break-word;
}
#u1827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1827 {
  position:absolute;
  left:221px;
  top:443px;
  width:129px;
  height:58px;
}
#u1828 {
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  word-wrap:break-word;
}
#u1829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1829 {
  position:absolute;
  left:221px;
  top:500px;
  width:129px;
  height:58px;
}
#u1830 {
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  word-wrap:break-word;
}
#u1831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1831 {
  position:absolute;
  left:221px;
  top:557px;
  width:129px;
  height:58px;
}
#u1832 {
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  word-wrap:break-word;
}
#u1833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1833 {
  position:absolute;
  left:221px;
  top:614px;
  width:129px;
  height:58px;
}
#u1834 {
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  word-wrap:break-word;
}
#u1835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1835 {
  position:absolute;
  left:221px;
  top:671px;
  width:129px;
  height:58px;
}
#u1836 {
  position:absolute;
  left:2px;
  top:21px;
  width:125px;
  word-wrap:break-word;
}
#u1837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1347px;
  height:2388px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1837 {
  position:absolute;
  left:410px;
  top:218px;
  width:1347px;
  height:2388px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:1186px;
  width:1343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1274px;
  height:2px;
}
#u1839 {
  position:absolute;
  left:444px;
  top:301px;
  width:1273px;
  height:1px;
}
#u1840 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1841 {
  position:absolute;
  left:444px;
  top:258px;
  width:29px;
  height:16px;
}
#u1842 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1843 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1844_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:291px;
  height:432px;
}
#u1844 {
  position:absolute;
  left:444px;
  top:337px;
  width:281px;
  height:422px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:203px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:422px;
  background:inherit;
  background-color:rgba(12, 12, 12, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1846 {
  position:absolute;
  left:444px;
  top:337px;
  width:281px;
  height:422px;
}
#u1847 {
  position:absolute;
  left:2px;
  top:203px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:75px;
}
#u1848 {
  position:absolute;
  left:444px;
  top:684px;
  width:281px;
  height:75px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:2px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1851 {
  position:absolute;
  left:452px;
  top:703px;
  width:24px;
  height:24px;
  text-align:left;
}
#u1852 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
}
#u1853 {
  position:absolute;
  left:484px;
  top:708px;
  width:53px;
  height:16px;
  color:#A2826F;
}
#u1854 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1855 {
  position:absolute;
  left:452px;
  top:686px;
  width:227px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1856 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1857 {
  position:absolute;
  left:702px;
  top:734px;
  width:15px;
  height:15px;
}
#u1858 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1859 {
  position:absolute;
  left:452px;
  top:729px;
  width:242px;
  height:25px;
}
#u1860 {
  position:absolute;
  left:2px;
  top:4px;
  width:238px;
  word-wrap:break-word;
}
#u1861 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1862_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:291px;
  height:432px;
}
#u1862 {
  position:absolute;
  left:773px;
  top:337px;
  width:281px;
  height:422px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:203px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:422px;
  background:inherit;
  background-color:rgba(12, 12, 12, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1864 {
  position:absolute;
  left:773px;
  top:337px;
  width:281px;
  height:422px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:203px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:75px;
}
#u1866 {
  position:absolute;
  left:773px;
  top:684px;
  width:281px;
  height:75px;
}
#u1867 {
  position:absolute;
  left:2px;
  top:2px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1869 {
  position:absolute;
  left:781px;
  top:703px;
  width:24px;
  height:24px;
  text-align:left;
}
#u1870 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
}
#u1871 {
  position:absolute;
  left:813px;
  top:708px;
  width:53px;
  height:16px;
  color:#A2826F;
}
#u1872 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1873 {
  position:absolute;
  left:781px;
  top:686px;
  width:227px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1875 {
  position:absolute;
  left:1031px;
  top:734px;
  width:15px;
  height:15px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1877 {
  position:absolute;
  left:781px;
  top:729px;
  width:242px;
  height:25px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:4px;
  width:238px;
  word-wrap:break-word;
}
#u1879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1880_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:291px;
  height:432px;
}
#u1880 {
  position:absolute;
  left:1105px;
  top:337px;
  width:281px;
  height:422px;
}
#u1881 {
  position:absolute;
  left:2px;
  top:203px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:422px;
  background:inherit;
  background-color:rgba(12, 12, 12, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1882 {
  position:absolute;
  left:1105px;
  top:337px;
  width:281px;
  height:422px;
}
#u1883 {
  position:absolute;
  left:2px;
  top:203px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:75px;
}
#u1884 {
  position:absolute;
  left:1105px;
  top:684px;
  width:281px;
  height:75px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:2px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1887 {
  position:absolute;
  left:1113px;
  top:703px;
  width:24px;
  height:24px;
  text-align:left;
}
#u1888 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
}
#u1889 {
  position:absolute;
  left:1145px;
  top:708px;
  width:53px;
  height:16px;
  color:#A2826F;
}
#u1890 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1891 {
  position:absolute;
  left:1113px;
  top:686px;
  width:227px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1892 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1893 {
  position:absolute;
  left:1363px;
  top:734px;
  width:15px;
  height:15px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1895 {
  position:absolute;
  left:1113px;
  top:729px;
  width:242px;
  height:25px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:4px;
  width:238px;
  word-wrap:break-word;
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1898_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:291px;
  height:432px;
}
#u1898 {
  position:absolute;
  left:1436px;
  top:337px;
  width:281px;
  height:422px;
}
#u1899 {
  position:absolute;
  left:2px;
  top:203px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:422px;
  background:inherit;
  background-color:rgba(12, 12, 12, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1900 {
  position:absolute;
  left:1436px;
  top:337px;
  width:281px;
  height:422px;
}
#u1901 {
  position:absolute;
  left:2px;
  top:203px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:75px;
}
#u1902 {
  position:absolute;
  left:1436px;
  top:684px;
  width:281px;
  height:75px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:2px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1905 {
  position:absolute;
  left:1444px;
  top:703px;
  width:24px;
  height:24px;
  text-align:left;
}
#u1906 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
}
#u1907 {
  position:absolute;
  left:1476px;
  top:708px;
  width:53px;
  height:16px;
  color:#A2826F;
}
#u1908 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1909 {
  position:absolute;
  left:1444px;
  top:686px;
  width:227px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1911 {
  position:absolute;
  left:1694px;
  top:734px;
  width:15px;
  height:15px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1913 {
  position:absolute;
  left:1444px;
  top:729px;
  width:242px;
  height:25px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:4px;
  width:238px;
  word-wrap:break-word;
}
#u1915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1916_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:291px;
  height:432px;
}
#u1916 {
  position:absolute;
  left:444px;
  top:808px;
  width:281px;
  height:422px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:203px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:422px;
  background:inherit;
  background-color:rgba(12, 12, 12, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1918 {
  position:absolute;
  left:444px;
  top:808px;
  width:281px;
  height:422px;
}
#u1919 {
  position:absolute;
  left:2px;
  top:203px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:75px;
}
#u1920 {
  position:absolute;
  left:444px;
  top:1155px;
  width:281px;
  height:75px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:2px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1923 {
  position:absolute;
  left:452px;
  top:1174px;
  width:24px;
  height:24px;
  text-align:left;
}
#u1924 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
}
#u1925 {
  position:absolute;
  left:484px;
  top:1179px;
  width:53px;
  height:16px;
  color:#A2826F;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1927 {
  position:absolute;
  left:452px;
  top:1157px;
  width:227px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1928 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1929 {
  position:absolute;
  left:702px;
  top:1205px;
  width:15px;
  height:15px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1931 {
  position:absolute;
  left:452px;
  top:1200px;
  width:242px;
  height:25px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:4px;
  width:238px;
  word-wrap:break-word;
}
#u1933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1934_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:291px;
  height:432px;
}
#u1934 {
  position:absolute;
  left:773px;
  top:808px;
  width:281px;
  height:422px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:203px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:422px;
  background:inherit;
  background-color:rgba(12, 12, 12, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1936 {
  position:absolute;
  left:773px;
  top:808px;
  width:281px;
  height:422px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:203px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:75px;
}
#u1938 {
  position:absolute;
  left:773px;
  top:1155px;
  width:281px;
  height:75px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:2px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1941 {
  position:absolute;
  left:781px;
  top:1174px;
  width:24px;
  height:24px;
  text-align:left;
}
#u1942 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
}
#u1943 {
  position:absolute;
  left:813px;
  top:1179px;
  width:53px;
  height:16px;
  color:#A2826F;
}
#u1944 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1945 {
  position:absolute;
  left:781px;
  top:1157px;
  width:227px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1946 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1947 {
  position:absolute;
  left:1031px;
  top:1205px;
  width:15px;
  height:15px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1949 {
  position:absolute;
  left:781px;
  top:1200px;
  width:242px;
  height:25px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:4px;
  width:238px;
  word-wrap:break-word;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1952_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:291px;
  height:432px;
}
#u1952 {
  position:absolute;
  left:1105px;
  top:808px;
  width:281px;
  height:422px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:203px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:422px;
  background:inherit;
  background-color:rgba(12, 12, 12, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1954 {
  position:absolute;
  left:1105px;
  top:808px;
  width:281px;
  height:422px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:203px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:75px;
}
#u1956 {
  position:absolute;
  left:1105px;
  top:1155px;
  width:281px;
  height:75px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:2px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1959 {
  position:absolute;
  left:1113px;
  top:1174px;
  width:24px;
  height:24px;
  text-align:left;
}
#u1960 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
}
#u1961 {
  position:absolute;
  left:1145px;
  top:1179px;
  width:53px;
  height:16px;
  color:#A2826F;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1963 {
  position:absolute;
  left:1113px;
  top:1157px;
  width:227px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1965 {
  position:absolute;
  left:1363px;
  top:1205px;
  width:15px;
  height:15px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1967 {
  position:absolute;
  left:1113px;
  top:1200px;
  width:242px;
  height:25px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:4px;
  width:238px;
  word-wrap:break-word;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1970_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:291px;
  height:432px;
}
#u1970 {
  position:absolute;
  left:1436px;
  top:808px;
  width:281px;
  height:422px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:203px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:422px;
  background:inherit;
  background-color:rgba(12, 12, 12, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1972 {
  position:absolute;
  left:1436px;
  top:808px;
  width:281px;
  height:422px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:203px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:75px;
}
#u1974 {
  position:absolute;
  left:1436px;
  top:1155px;
  width:281px;
  height:75px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:2px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1977 {
  position:absolute;
  left:1444px;
  top:1174px;
  width:24px;
  height:24px;
  text-align:left;
}
#u1978 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
}
#u1979 {
  position:absolute;
  left:1476px;
  top:1179px;
  width:53px;
  height:16px;
  color:#A2826F;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1981 {
  position:absolute;
  left:1444px;
  top:1157px;
  width:227px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1983 {
  position:absolute;
  left:1694px;
  top:1205px;
  width:15px;
  height:15px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1985 {
  position:absolute;
  left:1444px;
  top:1200px;
  width:242px;
  height:25px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:4px;
  width:238px;
  word-wrap:break-word;
}
