body {
  margin:0px;
  background-color:rgba(51, 62, 80, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:72px;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:620px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:72px;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:1200px;
  word-wrap:break-word;
  text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
  -webkit-text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
  -moz-text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
}
#u1478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:620px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:30px;
  width:839px;
  height:620px;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:302px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:216px;
  width:120px;
  height:120px;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:101px;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:365px;
  width:172px;
  height:101px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#4FC1B0;
  text-align:center;
  line-height:72px;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:172px;
  word-wrap:break-word;
}
#u1484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:581px;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:49px;
  width:1px;
  height:580px;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:282px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:839px;
  height:128px;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:120px;
  width:839px;
  height:128px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
  line-height:42px;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:835px;
  word-wrap:break-word;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:255px;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:288px;
  width:200px;
  height:255px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:20px;
  width:132px;
  word-wrap:break-word;
}
#u1492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:255px;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:288px;
  width:200px;
  height:255px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:20px;
  width:138px;
  word-wrap:break-word;
}
#u1494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:487px;
  width:200px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:20px;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:196px;
  word-wrap:break-word;
}
#u1496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:487px;
  width:200px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:196px;
  word-wrap:break-word;
}
#u1498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:129px;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:352px;
  width:129px;
  height:129px;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:129px;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:353px;
  width:129px;
  height:129px;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:401px;
  width:30px;
  height:30px;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:313px;
  width:30px;
  height:30px;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:312px;
  width:30px;
  height:30px;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
