body {
  margin:0px;
  background-color:rgba(51, 62, 80, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
  line-height:72px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:620px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
  line-height:72px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:302px;
  width:1200px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
  -webkit-text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
  -moz-text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:92px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:515px;
  width:86px;
  height:92px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(79, 193, 176, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:left;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:left;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:19px;
  width:1158px;
  word-wrap:break-word;
}
#u516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:351px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:181px;
  width:609px;
  height:351px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:168px;
  width:605px;
  visibility:hidden;
  word-wrap:break-word;
}
#u518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:318px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:197px;
  width:577px;
  height:318px;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:151px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:55px;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:523px;
  width:355px;
  height:55px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:557px;
  width:64px;
  height:33px;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:1116px;
  top:55px;
  width:57px;
  height:47px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u524_img.mouseOver {
}
#u524.mouseOver {
  opacity:0.8;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:55px;
  width:57px;
  height:47px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u526_img.mouseOver {
}
#u526.mouseOver {
  opacity:0.8;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:55px;
  width:57px;
  height:47px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u528_img.mouseOver {
}
#u528.mouseOver {
  opacity:0.8;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:173px;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:103px;
  width:320px;
  height:173px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.8;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:158px;
  width:293px;
  height:96px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:134px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:132px;
  width:16px;
  height:16px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
