body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:418px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:792px;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:398px;
  height:792px;
  opacity:0.6;
}
#u1455 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:388px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:642px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1457 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:77px;
  width:362px;
  height:642px;
}
#u1458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:313px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:78px;
  width:360px;
  height:640px;
  overflow:hidden;
}
#u1459_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1459_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:804px;
}
#u1460 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:-19px;
  width:479px;
  height:804px;
}
#u1461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:394px;
  width:475px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1459_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:802px;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:-19px;
  width:478px;
  height:802px;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:393px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:802px;
  width:418px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
