body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:368px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:593px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.576470588235294);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5940 {
  position:absolute;
  left:48px;
  top:69px;
  width:320px;
  height:593px;
}
#u5941 {
  position:absolute;
  left:2px;
  top:288px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5943 {
  position:absolute;
  left:49px;
  top:70px;
  width:318px;
  height:57px;
}
#u5944 {
  position:absolute;
  left:2px;
  top:20px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:11px;
}
#u5945 {
  position:absolute;
  left:56px;
  top:77px;
  width:302px;
  height:11px;
}
#u5946 {
  position:absolute;
  left:2px;
  top:-2px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u5947 {
  position:absolute;
  left:50px;
  top:91px;
  width:316px;
  height:35px;
  font-size:14px;
}
#u5948 {
  position:absolute;
  left:2px;
  top:10px;
  width:312px;
  word-wrap:break-word;
}
#u5949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5949 {
  position:absolute;
  left:49px;
  top:129px;
  width:318px;
  height:59px;
}
#u5950 {
  position:absolute;
  left:2px;
  top:22px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5951 {
  position:absolute;
  left:111px;
  top:139px;
  width:113px;
  height:16px;
}
#u5952 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u5953 {
  position:absolute;
  left:346px;
  top:147px;
  width:12px;
  height:21px;
  color:#CCCCCC;
}
#u5954 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5957 {
  position:absolute;
  left:49px;
  top:199px;
  width:318px;
  height:109px;
}
#u5958 {
  position:absolute;
  left:2px;
  top:46px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:2px;
}
#u5959 {
  position:absolute;
  left:56px;
  top:236px;
  width:311px;
  height:1px;
}
#u5960 {
  position:absolute;
  left:2px;
  top:-8px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5961 {
  position:absolute;
  left:81px;
  top:212px;
  width:57px;
  height:16px;
}
#u5962 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5963 {
  position:absolute;
  left:56px;
  top:212px;
  width:19px;
  height:18px;
}
#u5964 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  word-wrap:break-word;
}
#u5965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5965 {
  position:absolute;
  left:81px;
  top:244px;
  width:57px;
  height:16px;
}
#u5966 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5967 {
  position:absolute;
  left:56px;
  top:244px;
  width:19px;
  height:18px;
}
#u5968 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  word-wrap:break-word;
}
#u5969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:2px;
}
#u5969 {
  position:absolute;
  left:56px;
  top:271px;
  width:311px;
  height:1px;
}
#u5970 {
  position:absolute;
  left:2px;
  top:-8px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5971 {
  position:absolute;
  left:81px;
  top:280px;
  width:57px;
  height:16px;
}
#u5972 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5973 {
  position:absolute;
  left:56px;
  top:280px;
  width:19px;
  height:18px;
}
#u5974 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  word-wrap:break-word;
}
#u5975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u5975 {
  position:absolute;
  left:346px;
  top:208px;
  width:12px;
  height:21px;
  color:#CCCCCC;
}
#u5976 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u5977 {
  position:absolute;
  left:346px;
  top:244px;
  width:12px;
  height:21px;
  color:#CCCCCC;
}
#u5978 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u5979 {
  position:absolute;
  left:346px;
  top:279px;
  width:12px;
  height:21px;
  color:#CCCCCC;
}
#u5980 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u5981 {
  position:absolute;
  left:49px;
  top:308px;
  width:318px;
  height:1px;
}
#u5982 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u5983 {
  position:absolute;
  left:49px;
  top:198px;
  width:318px;
  height:1px;
}
#u5984 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u5985 {
  position:absolute;
  left:49px;
  top:188px;
  width:318px;
  height:1px;
}
#u5986 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5988 {
  position:absolute;
  left:49px;
  top:359px;
  width:318px;
  height:69px;
}
#u5989 {
  position:absolute;
  left:2px;
  top:26px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u5990 {
  position:absolute;
  left:49px;
  top:390px;
  width:318px;
  height:1px;
}
#u5991 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u5992 {
  position:absolute;
  left:49px;
  top:427px;
  width:318px;
  height:1px;
}
#u5993 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5994 {
  position:absolute;
  left:82px;
  top:401px;
  width:29px;
  height:16px;
}
#u5995 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5996 {
  position:absolute;
  left:56px;
  top:401px;
  width:19px;
  height:18px;
}
#u5997 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  word-wrap:break-word;
}
#u5998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u5998 {
  position:absolute;
  left:346px;
  top:400px;
  width:12px;
  height:21px;
  color:#CCCCCC;
}
#u5999 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u6000 {
  position:absolute;
  left:49px;
  top:359px;
  width:318px;
  height:1px;
}
#u6001 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6002 {
  position:absolute;
  left:81px;
  top:366px;
  width:57px;
  height:16px;
}
#u6003 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6004 {
  position:absolute;
  left:56px;
  top:366px;
  width:19px;
  height:18px;
}
#u6005 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  word-wrap:break-word;
}
#u6006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u6006 {
  position:absolute;
  left:347px;
  top:365px;
  width:12px;
  height:21px;
  color:#CCCCCC;
}
#u6007 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6008 {
  position:absolute;
  left:56px;
  top:135px;
  width:46px;
  height:46px;
}
#u6009 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  word-wrap:break-word;
}
#u6010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6011 {
  position:absolute;
  left:49px;
  top:317px;
  width:318px;
  height:32px;
}
#u6012 {
  position:absolute;
  left:2px;
  top:8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u6013 {
  position:absolute;
  left:49px;
  top:316px;
  width:318px;
  height:1px;
}
#u6014 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u6015 {
  position:absolute;
  left:49px;
  top:348px;
  width:318px;
  height:1px;
}
#u6016 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6017 {
  position:absolute;
  left:81px;
  top:324px;
  width:29px;
  height:16px;
}
#u6018 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6019 {
  position:absolute;
  left:56px;
  top:324px;
  width:19px;
  height:18px;
}
#u6020 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  word-wrap:break-word;
}
#u6021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u6021 {
  position:absolute;
  left:346px;
  top:323px;
  width:12px;
  height:21px;
  color:#CCCCCC;
}
#u6022 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:15px;
}
#u6023 {
  position:absolute;
  left:108px;
  top:161px;
  width:166px;
  height:15px;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u6024 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u6025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u6027 {
  position:absolute;
  left:49px;
  top:624px;
  width:318px;
  height:1px;
}
#u6028 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:36px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.83921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6029 {
  position:absolute;
  left:49px;
  top:625px;
  width:318px;
  height:36px;
}
#u6030 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u6031 {
  position:absolute;
  left:92px;
  top:647px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u6032 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u6033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u6033 {
  position:absolute;
  left:196px;
  top:647px;
  width:21px;
  height:13px;
  font-size:10px;
  color:#666666;
}
#u6034 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u6035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u6035 {
  position:absolute;
  left:299px;
  top:647px;
  width:21px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u6036 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u6037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6037 {
  position:absolute;
  left:93px;
  top:627px;
  width:19px;
  height:18px;
}
#u6038 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  word-wrap:break-word;
}
#u6039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6039 {
  position:absolute;
  left:199px;
  top:627px;
  width:19px;
  height:18px;
}
#u6040 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  word-wrap:break-word;
}
#u6041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6041 {
  position:absolute;
  left:301px;
  top:627px;
  width:19px;
  height:18px;
}
#u6042 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  word-wrap:break-word;
}
