body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1147px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u3896 {
  position:absolute;
  left:67px;
  top:40px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3897 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:560px;
}
#u3898 {
  position:absolute;
  left:67px;
  top:81px;
  width:1080px;
  height:560px;
}
#u3899 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u3900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:16px;
}
#u3900 {
  position:absolute;
  left:67px;
  top:676px;
  width:153px;
  height:16px;
}
#u3901 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u3902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:16px;
}
#u3902 {
  position:absolute;
  left:67px;
  top:702px;
  width:217px;
  height:16px;
}
#u3903 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
