body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1054px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16858 {
  position:absolute;
  left:240px;
  top:198px;
  width:1054px;
  height:33px;
}
#u16859 {
  position:absolute;
  left:2px;
  top:8px;
  width:1050px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16860 {
  position:absolute;
  left:252px;
  top:206px;
  width:23px;
  height:16px;
}
#u16861 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u16862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16862 {
  position:absolute;
  left:311px;
  top:206px;
  width:31px;
  height:16px;
}
#u16863 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u16864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16864 {
  position:absolute;
  left:380px;
  top:206px;
  width:31px;
  height:16px;
}
#u16865 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u16866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16866 {
  position:absolute;
  left:453px;
  top:206px;
  width:195px;
  height:16px;
}
#u16867 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u16868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u16868 {
  position:absolute;
  left:240px;
  top:229px;
  width:265px;
  height:91px;
  line-height:36px;
}
#u16869 {
  position:absolute;
  left:2px;
  top:10px;
  width:261px;
  word-wrap:break-word;
}
#u16870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u16870 {
  position:absolute;
  left:502px;
  top:229px;
  width:265px;
  height:91px;
  line-height:36px;
}
#u16871 {
  position:absolute;
  left:2px;
  top:10px;
  width:261px;
  word-wrap:break-word;
}
#u16872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u16872 {
  position:absolute;
  left:766px;
  top:229px;
  width:265px;
  height:91px;
  line-height:36px;
}
#u16873 {
  position:absolute;
  left:2px;
  top:10px;
  width:261px;
  word-wrap:break-word;
}
#u16874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:36px;
}
#u16874 {
  position:absolute;
  left:1029px;
  top:229px;
  width:265px;
  height:91px;
  line-height:36px;
}
#u16875 {
  position:absolute;
  left:2px;
  top:10px;
  width:261px;
  word-wrap:break-word;
}
#u16876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u16876 {
  position:absolute;
  left:240px;
  top:340px;
  width:53px;
  height:16px;
}
#u16877 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16878 {
  position:absolute;
  left:337px;
  top:365px;
  width:800px;
  height:33px;
}
#u16879 {
  position:absolute;
  left:2px;
  top:8px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16880 {
  position:absolute;
  left:349px;
  top:374px;
  width:23px;
  height:16px;
}
#u16881 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u16882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16882 {
  position:absolute;
  left:408px;
  top:374px;
  width:31px;
  height:16px;
}
#u16883 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u16884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16884 {
  position:absolute;
  left:477px;
  top:374px;
  width:31px;
  height:16px;
}
#u16885 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u16886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16886 {
  position:absolute;
  left:550px;
  top:374px;
  width:195px;
  height:16px;
}
#u16887 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u16888 {
  position:absolute;
  left:982px;
  top:340px;
  width:49px;
  height:16px;
}
#u16889 {
  position:absolute;
  left:16px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u16888_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16890 {
  position:absolute;
  left:1037px;
  top:340px;
  width:49px;
  height:16px;
}
#u16891 {
  position:absolute;
  left:16px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u16890_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16892 {
  position:absolute;
  left:1088px;
  top:340px;
  width:49px;
  height:16px;
}
#u16893 {
  position:absolute;
  left:16px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u16892_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16894 {
  position:absolute;
  left:926px;
  top:340px;
  width:49px;
  height:16px;
}
#u16895 {
  position:absolute;
  left:16px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u16894_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:493px;
}
#u16896 {
  position:absolute;
  left:337px;
  top:397px;
  width:800px;
  height:493px;
}
#u16897 {
  position:absolute;
  left:2px;
  top:238px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16898 {
  position:absolute;
  left:290px;
  top:1054px;
  width:909px;
  height:95px;
}
#u16899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u16899 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u16900 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u16901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u16901 {
  position:absolute;
  left:181px;
  top:0px;
  width:181px;
  height:30px;
}
#u16902 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u16903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u16903 {
  position:absolute;
  left:362px;
  top:0px;
  width:181px;
  height:30px;
}
#u16904 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u16905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u16905 {
  position:absolute;
  left:543px;
  top:0px;
  width:181px;
  height:30px;
}
#u16906 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u16907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u16907 {
  position:absolute;
  left:724px;
  top:0px;
  width:180px;
  height:30px;
}
#u16908 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  word-wrap:break-word;
}
#u16909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u16909 {
  position:absolute;
  left:0px;
  top:30px;
  width:181px;
  height:30px;
}
#u16910 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u16911 {
  position:absolute;
  left:181px;
  top:30px;
  width:181px;
  height:30px;
}
#u16912 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u16913 {
  position:absolute;
  left:362px;
  top:30px;
  width:181px;
  height:30px;
}
#u16914 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u16915 {
  position:absolute;
  left:543px;
  top:30px;
  width:181px;
  height:30px;
}
#u16916 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u16917 {
  position:absolute;
  left:724px;
  top:30px;
  width:180px;
  height:30px;
}
#u16918 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u16919 {
  position:absolute;
  left:0px;
  top:60px;
  width:181px;
  height:30px;
}
#u16920 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u16921 {
  position:absolute;
  left:181px;
  top:60px;
  width:181px;
  height:30px;
}
#u16922 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u16923 {
  position:absolute;
  left:362px;
  top:60px;
  width:181px;
  height:30px;
}
#u16924 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u16925 {
  position:absolute;
  left:543px;
  top:60px;
  width:181px;
  height:30px;
}
#u16926 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u16927 {
  position:absolute;
  left:724px;
  top:60px;
  width:180px;
  height:30px;
}
#u16928 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u16929 {
  position:absolute;
  left:1134px;
  top:947px;
  width:60px;
  height:16px;
  text-decoration:underline;
}
#u16930 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u16931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16931 {
  position:absolute;
  left:290px;
  top:1011px;
  width:904px;
  height:33px;
}
#u16932 {
  position:absolute;
  left:2px;
  top:8px;
  width:900px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16933 {
  position:absolute;
  left:302px;
  top:1020px;
  width:23px;
  height:16px;
}
#u16934 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u16935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16935 {
  position:absolute;
  left:361px;
  top:1020px;
  width:31px;
  height:16px;
}
#u16936 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u16937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16937 {
  position:absolute;
  left:430px;
  top:1020px;
  width:31px;
  height:16px;
}
#u16938 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u16939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16939 {
  position:absolute;
  left:503px;
  top:1020px;
  width:195px;
  height:16px;
}
#u16940 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u16941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u16941 {
  position:absolute;
  left:240px;
  top:94px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u16942 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u16943 {
  position:absolute;
  left:320px;
  top:154px;
  width:80px;
  height:26px;
  color:#666666;
}
#u16944 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u16945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16945 {
  position:absolute;
  left:240px;
  top:154px;
  width:80px;
  height:26px;
  color:#FFFFFF;
}
#u16946 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u16947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16947 {
  position:absolute;
  left:399px;
  top:154px;
  width:80px;
  height:26px;
}
#u16948 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u16949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16949 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:80px;
}
#u16950 {
  position:absolute;
  left:2px;
  top:32px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:52px;
}
#u16951 {
  position:absolute;
  left:26px;
  top:16px;
  width:47px;
  height:52px;
}
#u16952 {
  position:absolute;
  left:2px;
  top:18px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u16953 {
  position:absolute;
  left:114px;
  top:27px;
  width:97px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u16954 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u16955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u16955 {
  position:absolute;
  left:1240px;
  top:12px;
  width:54px;
  height:54px;
}
#u16956 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16957 {
  position:absolute;
  left:1380px;
  top:18px;
  width:66px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u16958 {
  position:absolute;
  left:2px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u16959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u16959 {
  position:absolute;
  left:1304px;
  top:42px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u16960 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u16961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u16962 {
  position:absolute;
  left:1462px;
  top:44px;
  width:22px;
  height:16px;
}
#u16963 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u16964 {
  position:absolute;
  left:1479px;
  top:42px;
  width:7px;
  height:7px;
}
#u16965 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:22px;
}
#u16966 {
  position:absolute;
  left:1508px;
  top:45px;
  width:1px;
  height:21px;
}
#u16967 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u16968 {
  position:absolute;
  left:1526px;
  top:45px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u16969 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u16970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:2023px;
  background:inherit;
  background-color:rgba(64, 76, 88, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16970 {
  position:absolute;
  left:0px;
  top:80px;
  width:225px;
  height:2023px;
}
#u16971 {
  position:absolute;
  left:2px;
  top:1004px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u16972 {
  position:absolute;
  left:1304px;
  top:18px;
  width:67px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u16973 {
  position:absolute;
  left:2px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u16974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u16974 {
  position:absolute;
  left:23px;
  top:101px;
  width:25px;
  height:20px;
}
#u16975 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16976 {
  position:absolute;
  left:61px;
  top:99px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16977 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u16978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u16978 {
  position:absolute;
  left:5px;
  top:138px;
  width:213px;
  height:1px;
}
#u16979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u16980 {
  position:absolute;
  left:24px;
  top:167px;
  width:23px;
  height:19px;
}
#u16981 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u16982 {
  position:absolute;
  left:59px;
  top:163px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u16983 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u16984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16984 {
  position:absolute;
  left:60px;
  top:209px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16985 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16986 {
  position:absolute;
  left:60px;
  top:249px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16987 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16988 {
  position:absolute;
  left:60px;
  top:332px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16989 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u16990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16990 {
  position:absolute;
  left:60px;
  top:372px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16991 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u16992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u16992 {
  position:absolute;
  left:59px;
  top:442px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u16993 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u16994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16994 {
  position:absolute;
  left:59px;
  top:488px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16995 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u16996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16996 {
  position:absolute;
  left:59px;
  top:528px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16997 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u16998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16998 {
  position:absolute;
  left:59px;
  top:568px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u16999 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u17000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u17000 {
  position:absolute;
  left:5px;
  top:421px;
  width:213px;
  height:1px;
}
#u17001 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u17002 {
  position:absolute;
  left:23px;
  top:446px;
  width:23px;
  height:19px;
}
#u17003 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u17004 {
  position:absolute;
  left:59px;
  top:637px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u17005 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17006 {
  position:absolute;
  left:59px;
  top:683px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17007 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u17008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17008 {
  position:absolute;
  left:59px;
  top:723px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17009 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u17010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17010 {
  position:absolute;
  left:59px;
  top:763px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17011 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u17012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u17012 {
  position:absolute;
  left:5px;
  top:616px;
  width:213px;
  height:1px;
}
#u17013 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u17014 {
  position:absolute;
  left:59px;
  top:832px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u17015 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u17016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17016 {
  position:absolute;
  left:59px;
  top:878px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17017 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u17018 {
  position:absolute;
  left:5px;
  top:811px;
  width:213px;
  height:1px;
}
#u17019 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u17020 {
  position:absolute;
  left:5px;
  top:924px;
  width:213px;
  height:1px;
}
#u17021 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u17022 {
  position:absolute;
  left:59px;
  top:940px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u17023 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17024 {
  position:absolute;
  left:59px;
  top:980px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17025 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17026 {
  position:absolute;
  left:59px;
  top:1020px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17027 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:center;
}
#u17028 {
  position:absolute;
  left:38px;
  top:2024px;
  width:57px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u17029 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:center;
}
#u17030 {
  position:absolute;
  left:121px;
  top:2024px;
  width:57px;
  height:16px;
  color:#CCCCCC;
  text-align:center;
}
#u17031 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u17032 {
  position:absolute;
  left:105px;
  top:2024px;
  width:1px;
  height:16px;
}
#u17033 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u17034 {
  position:absolute;
  left:19px;
  top:2050px;
  width:173px;
  height:15px;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u17035 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u17036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u17036 {
  position:absolute;
  left:23px;
  top:637px;
  width:24px;
  height:24px;
}
#u17037 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u17038 {
  position:absolute;
  left:24px;
  top:940px;
  width:21px;
  height:24px;
}
#u17039 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u17040 {
  position:absolute;
  left:23px;
  top:832px;
  width:25px;
  height:26px;
}
#u17041 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u17042 {
  position:absolute;
  left:252px;
  top:25px;
  width:39px;
  height:34px;
}
#u17043 {
  position:absolute;
  left:2px;
  top:9px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17044 {
  position:absolute;
  left:311px;
  top:27px;
  width:261px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17045 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u17046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17046 {
  position:absolute;
  left:60px;
  top:289px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17047 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u17048 {
  position:absolute;
  left:0px;
  top:1202px;
  width:225px;
  height:43px;
  font-size:20px;
}
#u17049 {
  position:absolute;
  left:60px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u17050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u17050 {
  position:absolute;
  left:59px;
  top:1087px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u17051 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u17052 {
  position:absolute;
  left:5px;
  top:1066px;
  width:213px;
  height:1px;
}
#u17053 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17054 {
  position:absolute;
  left:59px;
  top:1127px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17055 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17056 {
  position:absolute;
  left:59px;
  top:1170px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17057 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u17058 {
  position:absolute;
  left:59px;
  top:1279px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u17059 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u17060 {
  position:absolute;
  left:5px;
  top:1260px;
  width:213px;
  height:1px;
}
#u17061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u17062 {
  position:absolute;
  left:59px;
  top:1495px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u17063 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u17064 {
  position:absolute;
  left:5px;
  top:1478px;
  width:213px;
  height:1px;
}
#u17065 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17066 {
  position:absolute;
  left:59px;
  top:1571px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17067 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u17068 {
  position:absolute;
  left:22px;
  top:1089px;
  width:27px;
  height:20px;
}
#u17069 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u17070 {
  position:absolute;
  left:25px;
  top:1495px;
  width:23px;
  height:23px;
}
#u17071 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u17072 {
  position:absolute;
  left:25px;
  top:1281px;
  width:24px;
  height:26px;
}
#u17073 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17074 {
  position:absolute;
  left:59px;
  top:1537px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u17075 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u17076 {
  position:absolute;
  left:58px;
  top:1314px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u17077 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u17078 {
  position:absolute;
  left:58px;
  top:1357px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u17079 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u17080 {
  position:absolute;
  left:58px;
  top:1401px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u17081 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u17082 {
  position:absolute;
  left:58px;
  top:1446px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u17083 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u17084 {
  position:absolute;
  left:59px;
  top:1628px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
}
#u17085 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u17086 {
  position:absolute;
  left:5px;
  top:1611px;
  width:213px;
  height:1px;
}
#u17087 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u17088 {
  position:absolute;
  left:59px;
  top:1667px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u17089 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u17090 {
  position:absolute;
  left:59px;
  top:1704px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u17091 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u17092 {
  position:absolute;
  left:59px;
  top:1746px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u17093 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u17094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u17094 {
  position:absolute;
  left:26px;
  top:1631px;
  width:23px;
  height:23px;
}
#u17095 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
