body {
  margin:0px;
  background-color:rgba(51, 62, 80, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
  line-height:72px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:620px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
  line-height:72px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:302px;
  width:1200px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
  -webkit-text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
  -moz-text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(79, 193, 176, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:left;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:left;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:19px;
  width:1158px;
  word-wrap:break-word;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:180px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:180px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:263px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:343px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:343px;
  width:270px;
  height:65px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:263px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:263px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:180px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:343px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:343px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:264px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:180px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:422px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:422px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:422px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:422px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:504px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:504px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:504px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:504px;
  width:270px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  line-height:26px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:260px;
  word-wrap:break-word;
}
#u615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:1116px;
  top:55px;
  width:57px;
  height:47px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u615_img.mouseOver {
}
#u615.mouseOver {
  opacity:0.8;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:55px;
  width:57px;
  height:47px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u617_img.mouseOver {
}
#u617.mouseOver {
  opacity:0.8;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
