body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:833px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:572px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.576470588235294);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1870 {
  position:absolute;
  left:70px;
  top:66px;
  width:320px;
  height:572px;
}
#u1871 {
  position:absolute;
  left:7px;
  top:278px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1873 {
  position:absolute;
  left:71px;
  top:409px;
  width:318px;
  height:43px;
}
#u1874 {
  position:absolute;
  left:7px;
  top:14px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1876 {
  position:absolute;
  left:71px;
  top:451px;
  width:318px;
  height:1px;
}
#u1877 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1878 {
  position:absolute;
  left:82px;
  top:423px;
  width:71px;
  height:20px;
  text-align:center;
}
#u1879 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1880 {
  position:absolute;
  left:372px;
  top:424px;
  width:9px;
  height:15px;
  color:#CCCCCC;
}
#u1881 {
  position:absolute;
  left:7px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1882 {
  position:absolute;
  left:342px;
  top:422px;
  width:19px;
  height:19px;
}
#u1883 {
  position:absolute;
  left:7px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1885 {
  position:absolute;
  left:71px;
  top:67px;
  width:318px;
  height:57px;
}
#u1886 {
  position:absolute;
  left:7px;
  top:20px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:11px;
}
#u1887 {
  position:absolute;
  left:78px;
  top:74px;
  width:302px;
  height:11px;
}
#u1888 {
  position:absolute;
  left:7px;
  top:-2px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1889 {
  position:absolute;
  left:72px;
  top:88px;
  width:316px;
  height:35px;
  font-size:14px;
}
#u1890 {
  position:absolute;
  left:7px;
  top:8px;
  width:307px;
  word-wrap:break-word;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u1891 {
  position:absolute;
  left:78px;
  top:95px;
  width:11px;
  height:19px;
}
#u1892 {
  position:absolute;
  left:7px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:252px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1893 {
  position:absolute;
  left:71px;
  top:133px;
  width:318px;
  height:252px;
}
#u1894 {
  position:absolute;
  left:7px;
  top:118px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1895 {
  position:absolute;
  left:71px;
  top:194px;
  width:318px;
  height:1px;
}
#u1896 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1897 {
  position:absolute;
  left:82px;
  top:156px;
  width:29px;
  height:20px;
  text-align:center;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1899 {
  position:absolute;
  left:71px;
  top:133px;
  width:318px;
  height:1px;
}
#u1900 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u1901 {
  position:absolute;
  left:373px;
  top:156px;
  width:8px;
  height:14px;
  color:#CCCCCC;
}
#u1902 {
  position:absolute;
  left:7px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1903 {
  position:absolute;
  left:320px;
  top:141px;
  width:46px;
  height:46px;
}
#u1904 {
  position:absolute;
  left:7px;
  top:14px;
  width:37px;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1905 {
  position:absolute;
  left:71px;
  top:229px;
  width:318px;
  height:1px;
}
#u1906 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1907 {
  position:absolute;
  left:82px;
  top:205px;
  width:29px;
  height:20px;
  text-align:center;
}
#u1908 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1909 {
  position:absolute;
  left:82px;
  top:242px;
  width:29px;
  height:20px;
  text-align:center;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1911 {
  position:absolute;
  left:372px;
  top:204px;
  width:9px;
  height:15px;
  color:#CCCCCC;
}
#u1912 {
  position:absolute;
  left:7px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1913 {
  position:absolute;
  left:372px;
  top:244px;
  width:9px;
  height:15px;
  color:#CCCCCC;
}
#u1914 {
  position:absolute;
  left:7px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1915 {
  position:absolute;
  left:270px;
  top:205px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1916 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1917 {
  position:absolute;
  left:353px;
  top:244px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1919 {
  position:absolute;
  left:82px;
  top:357px;
  width:29px;
  height:20px;
  text-align:center;
}
#u1920 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1921 {
  position:absolute;
  left:71px;
  top:268px;
  width:318px;
  height:1px;
}
#u1922 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1923 {
  position:absolute;
  left:71px;
  top:306px;
  width:318px;
  height:1px;
}
#u1924 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1925 {
  position:absolute;
  left:372px;
  top:358px;
  width:9px;
  height:15px;
  color:#CCCCCC;
}
#u1926 {
  position:absolute;
  left:7px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1927 {
  position:absolute;
  left:156px;
  top:357px;
  width:210px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1928 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1929 {
  position:absolute;
  left:71px;
  top:344px;
  width:318px;
  height:1px;
}
#u1930 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1931 {
  position:absolute;
  left:82px;
  top:317px;
  width:29px;
  height:20px;
  text-align:center;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1933 {
  position:absolute;
  left:372px;
  top:318px;
  width:9px;
  height:15px;
  color:#CCCCCC;
}
#u1934 {
  position:absolute;
  left:7px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1935 {
  position:absolute;
  left:274px;
  top:317px;
  width:92px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1937 {
  position:absolute;
  left:71px;
  top:385px;
  width:318px;
  height:1px;
}
#u1938 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1939 {
  position:absolute;
  left:81px;
  top:279px;
  width:29px;
  height:20px;
  text-align:center;
}
#u1940 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1941 {
  position:absolute;
  left:371px;
  top:279px;
  width:9px;
  height:15px;
  color:#CCCCCC;
}
#u1942 {
  position:absolute;
  left:7px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1943 {
  position:absolute;
  left:280px;
  top:279px;
  width:85px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1944 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u1945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
  text-align:center;
}
#u1945 {
  position:absolute;
  left:81px;
  top:388px;
  width:185px;
  height:11px;
  font-size:8px;
  color:#999999;
  text-align:center;
}
#u1946 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1947 {
  position:absolute;
  left:71px;
  top:35px;
  width:107px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1948 {
  position:absolute;
  left:5px;
  top:2px;
  width:100px;
  white-space:nowrap;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:572px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.576470588235294);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1949 {
  position:absolute;
  left:513px;
  top:855px;
  width:320px;
  height:572px;
}
#u1950 {
  position:absolute;
  left:7px;
  top:278px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1952 {
  position:absolute;
  left:514px;
  top:1200px;
  width:318px;
  height:76px;
}
#u1953 {
  position:absolute;
  left:7px;
  top:30px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1955 {
  position:absolute;
  left:514px;
  top:1199px;
  width:318px;
  height:1px;
}
#u1956 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1957 {
  position:absolute;
  left:514px;
  top:1236px;
  width:318px;
  height:1px;
}
#u1958 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1959 {
  position:absolute;
  left:815px;
  top:1210px;
  width:9px;
  height:15px;
  color:#CCCCCC;
}
#u1960 {
  position:absolute;
  left:7px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1961 {
  position:absolute;
  left:525px;
  top:1210px;
  width:85px;
  height:20px;
  text-align:center;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1963 {
  position:absolute;
  left:758px;
  top:1210px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1965 {
  position:absolute;
  left:514px;
  top:1275px;
  width:318px;
  height:1px;
}
#u1966 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1967 {
  position:absolute;
  left:525px;
  top:1247px;
  width:71px;
  height:20px;
  text-align:center;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u1969 {
  position:absolute;
  left:815px;
  top:1248px;
  width:9px;
  height:15px;
  color:#CCCCCC;
}
#u1970 {
  position:absolute;
  left:7px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1971 {
  position:absolute;
  left:785px;
  top:1246px;
  width:19px;
  height:19px;
}
#u1972 {
  position:absolute;
  left:7px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1974 {
  position:absolute;
  left:514px;
  top:856px;
  width:318px;
  height:57px;
}
#u1975 {
  position:absolute;
  left:7px;
  top:20px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:11px;
}
#u1976 {
  position:absolute;
  left:521px;
  top:863px;
  width:302px;
  height:11px;
}
#u1977 {
  position:absolute;
  left:7px;
  top:-2px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1978 {
  position:absolute;
  left:515px;
  top:877px;
  width:316px;
  height:35px;
  font-size:14px;
}
#u1979 {
  position:absolute;
  left:7px;
  top:8px;
  width:307px;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u1980 {
  position:absolute;
  left:521px;
  top:884px;
  width:11px;
  height:19px;
}
#u1981 {
  position:absolute;
  left:7px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:252px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1982 {
  position:absolute;
  left:514px;
  top:922px;
  width:318px;
  height:252px;
}
#u1983 {
  position:absolute;
  left:7px;
  top:118px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1984 {
  position:absolute;
  left:514px;
  top:983px;
  width:318px;
  height:1px;
}
#u1985 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1986 {
  position:absolute;
  left:525px;
  top:945px;
  width:29px;
  height:20px;
  text-align:center;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1988 {
  position:absolute;
  left:514px;
  top:922px;
  width:318px;
  height:1px;
}
#u1989 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u1990 {
  position:absolute;
  left:816px;
  top:945px;
  width:8px;
  height:14px;
  color:#CCCCCC;
}
#u1991 {
  position:absolute;
  left:7px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1992 {
  position:absolute;
  left:763px;
  top:930px;
  width:46px;
  height:46px;
}
#u1993 {
  position:absolute;
  left:7px;
  top:14px;
  width:37px;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1994 {
  position:absolute;
  left:514px;
  top:1018px;
  width:318px;
  height:1px;
}
#u1995 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1996 {
  position:absolute;
  left:525px;
  top:994px;
  width:29px;
  height:20px;
  text-align:center;
}
#u1997 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1998 {
  position:absolute;
  left:525px;
  top:1031px;
  width:29px;
  height:20px;
  text-align:center;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u2000 {
  position:absolute;
  left:815px;
  top:993px;
  width:9px;
  height:15px;
  color:#CCCCCC;
}
#u2001 {
  position:absolute;
  left:7px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u2002 {
  position:absolute;
  left:815px;
  top:1033px;
  width:9px;
  height:15px;
  color:#CCCCCC;
}
#u2003 {
  position:absolute;
  left:7px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u2004 {
  position:absolute;
  left:713px;
  top:994px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u2006 {
  position:absolute;
  left:796px;
  top:1033px;
  width:13px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u2007 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u2008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2008 {
  position:absolute;
  left:525px;
  top:1146px;
  width:29px;
  height:20px;
  text-align:center;
}
#u2009 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2010 {
  position:absolute;
  left:514px;
  top:1057px;
  width:318px;
  height:1px;
}
#u2011 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2012 {
  position:absolute;
  left:514px;
  top:1095px;
  width:318px;
  height:1px;
}
#u2013 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u2014 {
  position:absolute;
  left:815px;
  top:1147px;
  width:9px;
  height:15px;
  color:#CCCCCC;
}
#u2015 {
  position:absolute;
  left:7px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u2016 {
  position:absolute;
  left:599px;
  top:1146px;
  width:210px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u2017 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2018 {
  position:absolute;
  left:514px;
  top:1133px;
  width:318px;
  height:1px;
}
#u2019 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2020 {
  position:absolute;
  left:525px;
  top:1106px;
  width:29px;
  height:20px;
  text-align:center;
}
#u2021 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u2022 {
  position:absolute;
  left:815px;
  top:1107px;
  width:9px;
  height:15px;
  color:#CCCCCC;
}
#u2023 {
  position:absolute;
  left:7px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u2024 {
  position:absolute;
  left:599px;
  top:1106px;
  width:210px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u2025 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2026 {
  position:absolute;
  left:514px;
  top:1174px;
  width:318px;
  height:1px;
}
#u2027 {
  position:absolute;
  left:7px;
  top:-8px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2028 {
  position:absolute;
  left:524px;
  top:1068px;
  width:29px;
  height:20px;
  text-align:center;
}
#u2029 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u2030 {
  position:absolute;
  left:814px;
  top:1068px;
  width:9px;
  height:15px;
  color:#CCCCCC;
}
#u2031 {
  position:absolute;
  left:7px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u2032 {
  position:absolute;
  left:723px;
  top:1068px;
  width:85px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u2033 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
  text-align:center;
}
#u2034 {
  position:absolute;
  left:524px;
  top:1177px;
  width:185px;
  height:11px;
  font-size:8px;
  color:#999999;
  text-align:center;
}
#u2035 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:571px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.47843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2036 {
  position:absolute;
  left:514px;
  top:856px;
  width:319px;
  height:571px;
}
#u2037 {
  position:absolute;
  left:7px;
  top:278px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2038 {
  position:absolute;
  left:553px;
  top:1025px;
  width:256px;
  height:148px;
}
#u2039 {
  position:absolute;
  left:7px;
  top:66px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:183px;
}
#u2040 {
  position:absolute;
  left:514px;
  top:1243px;
  width:318px;
  height:183px;
}
#u2041 {
  position:absolute;
  left:7px;
  top:84px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2042 {
  position:absolute;
  left:653px;
  top:1043px;
  width:57px;
  height:20px;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2044 {
  position:absolute;
  left:575px;
  top:1078px;
  width:217px;
  height:28px;
  text-align:left;
}
#u2045 {
  position:absolute;
  left:7px;
  top:4px;
  width:208px;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u2046 {
  position:absolute;
  left:688px;
  top:1083px;
  width:1px;
  height:19px;
}
#u2047 {
  position:absolute;
  left:7px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2048 {
  position:absolute;
  left:729px;
  top:1134px;
  width:29px;
  height:20px;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2050 {
  position:absolute;
  left:608px;
  top:1134px;
  width:29px;
  height:20px;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2052 {
  position:absolute;
  left:769px;
  top:1083px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u2053 {
  position:absolute;
  left:7px;
  top:0px;
  width:9px;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u2054 {
  position:absolute;
  left:783px;
  top:1111px;
  width:7px;
  height:16px;
  font-size:10px;
  color:#999999;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u2056 {
  position:absolute;
  left:71px;
  top:134px;
  width:317px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2057 {
  position:absolute;
  left:71px;
  top:194px;
  width:317px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2058 {
  position:absolute;
  left:73px;
  top:267px;
  width:317px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2058_ann {
  position:absolute;
  left:383px;
  top:263px;
  width:1px;
  height:1px;
}
#u2059 {
  position:absolute;
  left:71px;
  top:231px;
  width:317px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2059_ann {
  position:absolute;
  left:381px;
  top:227px;
  width:1px;
  height:1px;
}
#u2060 {
  position:absolute;
  left:71px;
  top:307px;
  width:317px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2060_ann {
  position:absolute;
  left:381px;
  top:303px;
  width:1px;
  height:1px;
}
#u2061 {
  position:absolute;
  left:71px;
  top:343px;
  width:317px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2061_ann {
  position:absolute;
  left:381px;
  top:339px;
  width:1px;
  height:1px;
}
#u2062 {
  position:absolute;
  left:71px;
  top:409px;
  width:317px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
