body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1259px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:576px;
}
#u741 {
  position:absolute;
  left:88px;
  top:844px;
  width:1171px;
  height:576px;
}
#u742 {
  position:absolute;
  left:2px;
  top:280px;
  width:1167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u743 {
  position:absolute;
  left:66px;
  top:32px;
  width:75px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u744 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u745 {
  position:absolute;
  left:66px;
  top:89px;
  width:113px;
  height:16px;
}
#u746 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u747 {
  position:absolute;
  left:66px;
  top:143px;
  width:100px;
  height:60px;
}
#u748 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u749 {
  position:absolute;
  left:284px;
  top:143px;
  width:100px;
  height:60px;
}
#u750 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u751 {
  position:absolute;
  left:485px;
  top:143px;
  width:100px;
  height:60px;
}
#u752 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u753 {
  position:absolute;
  left:690px;
  top:143px;
  width:100px;
  height:60px;
}
#u754 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u755 {
  position:absolute;
  left:166px;
  top:173px;
  width:0px;
  height:0px;
}
#u755_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:122px;
  height:8px;
}
#u755_seg1 {
  position:absolute;
  left:104px;
  top:-10px;
  width:21px;
  height:20px;
}
#u756 {
  position:absolute;
  left:9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757 {
  position:absolute;
  left:384px;
  top:173px;
  width:0px;
  height:0px;
}
#u757_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:105px;
  height:8px;
}
#u757_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:21px;
  height:20px;
}
#u758 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759 {
  position:absolute;
  left:585px;
  top:173px;
  width:0px;
  height:0px;
}
#u759_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:109px;
  height:8px;
}
#u759_seg1 {
  position:absolute;
  left:91px;
  top:-10px;
  width:21px;
  height:20px;
}
#u760 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u761 {
  position:absolute;
  left:66px;
  top:257px;
  width:100px;
  height:60px;
}
#u762 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u763 {
  position:absolute;
  left:278px;
  top:257px;
  width:100px;
  height:60px;
}
#u764 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u765 {
  position:absolute;
  left:485px;
  top:257px;
  width:100px;
  height:60px;
}
#u766 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u767 {
  position:absolute;
  left:690px;
  top:257px;
  width:100px;
  height:60px;
}
#u768 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u769 {
  position:absolute;
  left:166px;
  top:287px;
  width:0px;
  height:0px;
}
#u769_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u769_seg1 {
  position:absolute;
  left:98px;
  top:-10px;
  width:21px;
  height:20px;
}
#u770 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771 {
  position:absolute;
  left:378px;
  top:287px;
  width:0px;
  height:0px;
}
#u771_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:111px;
  height:8px;
}
#u771_seg1 {
  position:absolute;
  left:93px;
  top:-10px;
  width:21px;
  height:20px;
}
#u772 {
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773 {
  position:absolute;
  left:585px;
  top:287px;
  width:0px;
  height:0px;
}
#u773_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:109px;
  height:8px;
}
#u773_seg1 {
  position:absolute;
  left:91px;
  top:-10px;
  width:21px;
  height:20px;
}
#u774 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u775 {
  position:absolute;
  left:66px;
  top:351px;
  width:169px;
  height:16px;
}
#u776 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u777 {
  position:absolute;
  left:66px;
  top:405px;
  width:100px;
  height:60px;
}
#u778 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u779 {
  position:absolute;
  left:278px;
  top:405px;
  width:100px;
  height:60px;
}
#u780 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u781 {
  position:absolute;
  left:485px;
  top:405px;
  width:100px;
  height:60px;
}
#u782 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u783 {
  position:absolute;
  left:704px;
  top:405px;
  width:100px;
  height:60px;
}
#u784 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u785 {
  position:absolute;
  left:914px;
  top:405px;
  width:100px;
  height:60px;
}
#u786 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u787 {
  position:absolute;
  left:1102px;
  top:405px;
  width:100px;
  height:60px;
}
#u788 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u789 {
  position:absolute;
  left:166px;
  top:435px;
  width:0px;
  height:0px;
}
#u789_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u789_seg1 {
  position:absolute;
  left:98px;
  top:-10px;
  width:21px;
  height:20px;
}
#u790 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791 {
  position:absolute;
  left:378px;
  top:435px;
  width:0px;
  height:0px;
}
#u791_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:111px;
  height:8px;
}
#u791_seg1 {
  position:absolute;
  left:93px;
  top:-10px;
  width:21px;
  height:20px;
}
#u792 {
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793 {
  position:absolute;
  left:585px;
  top:435px;
  width:0px;
  height:0px;
}
#u793_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u793_seg1 {
  position:absolute;
  left:105px;
  top:-10px;
  width:21px;
  height:20px;
}
#u794 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795 {
  position:absolute;
  left:804px;
  top:435px;
  width:0px;
  height:0px;
}
#u795_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u795_seg1 {
  position:absolute;
  left:96px;
  top:-10px;
  width:21px;
  height:20px;
}
#u796 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797 {
  position:absolute;
  left:1014px;
  top:435px;
  width:0px;
  height:0px;
}
#u797_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u797_seg1 {
  position:absolute;
  left:74px;
  top:-10px;
  width:21px;
  height:20px;
}
#u798 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u799 {
  position:absolute;
  left:66px;
  top:503px;
  width:124px;
  height:16px;
}
#u800 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u801 {
  position:absolute;
  left:66px;
  top:571px;
  width:100px;
  height:60px;
}
#u802 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u803 {
  position:absolute;
  left:284px;
  top:571px;
  width:100px;
  height:60px;
}
#u804 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u805 {
  position:absolute;
  left:508px;
  top:571px;
  width:100px;
  height:60px;
}
#u806 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u807 {
  position:absolute;
  left:720px;
  top:571px;
  width:100px;
  height:60px;
}
#u808 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u809 {
  position:absolute;
  left:166px;
  top:601px;
  width:0px;
  height:0px;
}
#u809_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:122px;
  height:8px;
}
#u809_seg1 {
  position:absolute;
  left:104px;
  top:-10px;
  width:21px;
  height:20px;
}
#u810 {
  position:absolute;
  left:9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811 {
  position:absolute;
  left:384px;
  top:601px;
  width:0px;
  height:0px;
}
#u811_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:128px;
  height:8px;
}
#u811_seg1 {
  position:absolute;
  left:110px;
  top:-10px;
  width:21px;
  height:20px;
}
#u812 {
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813 {
  position:absolute;
  left:608px;
  top:601px;
  width:0px;
  height:0px;
}
#u813_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u813_seg1 {
  position:absolute;
  left:98px;
  top:-10px;
  width:21px;
  height:20px;
}
#u814 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
