body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1095px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:790px;
}
#u5192 {
  position:absolute;
  left:651px;
  top:77px;
  width:444px;
  height:790px;
}
#u5193 {
  position:absolute;
  left:7px;
  top:387px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5192_ann {
  position:absolute;
  left:1088px;
  top:73px;
  width:1px;
  height:1px;
}
#u5194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:38px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5194 {
  position:absolute;
  left:759px;
  top:110px;
  width:204px;
  height:38px;
}
#u5195 {
  position:absolute;
  left:7px;
  top:11px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5196 {
  position:absolute;
  left:836px;
  top:117px;
  width:74px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u5197 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u5198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:38px;
  background:inherit;
  background-color:rgba(1, 1, 1, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5198 {
  position:absolute;
  left:973px;
  top:110px;
  width:122px;
  height:38px;
}
#u5199 {
  position:absolute;
  left:7px;
  top:11px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5200 {
  position:absolute;
  left:1046px;
  top:117px;
  width:33px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
}
#u5201 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5202 {
  position:absolute;
  left:663px;
  top:424px;
  width:149px;
  height:44px;
}
#u5203 {
  position:absolute;
  left:7px;
  top:14px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5204 {
  position:absolute;
  left:678px;
  top:436px;
  width:65px;
  height:20px;
}
#u5205 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5206 {
  position:absolute;
  left:649px;
  top:101px;
  width:68px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5207 {
  position:absolute;
  left:1046px;
  top:110px;
  width:42px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5207_ann {
  position:absolute;
  left:1081px;
  top:106px;
  width:1px;
  height:1px;
}
#u5208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:790px;
}
#u5208 {
  position:absolute;
  left:37px;
  top:70px;
  width:444px;
  height:790px;
}
#u5209 {
  position:absolute;
  left:7px;
  top:387px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5210 {
  position:absolute;
  left:37px;
  top:25px;
  width:136px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5211 {
  position:absolute;
  left:5px;
  top:2px;
  width:129px;
  white-space:nowrap;
}
#u5212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5212 {
  position:absolute;
  left:649px;
  top:25px;
  width:104px;
  height:45px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5213 {
  position:absolute;
  left:5px;
  top:2px;
  width:97px;
  white-space:nowrap;
}
