body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23788 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23789 {
  position:absolute;
  left:270px;
  top:100px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23790 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:759px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23791 {
  position:absolute;
  left:270px;
  top:138px;
  width:1330px;
  height:759px;
}
#u23792 {
  position:absolute;
  left:2px;
  top:372px;
  width:1326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23793 {
  position:absolute;
  left:336px;
  top:186px;
  width:20px;
  height:20px;
}
#u23794 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23795 {
  position:absolute;
  left:397px;
  top:190px;
  width:53px;
  height:16px;
}
#u23796 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u23797 {
  position:absolute;
  left:530px;
  top:190px;
  width:170px;
  height:16px;
  color:#999999;
}
#u23798 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u23799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u23799 {
  position:absolute;
  left:1000px;
  top:190px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u23800 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u23801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23801 {
  position:absolute;
  left:336px;
  top:232px;
  width:20px;
  height:20px;
}
#u23802 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:2px;
}
#u23803 {
  position:absolute;
  left:324px;
  top:218px;
  width:926px;
  height:1px;
}
#u23804 {
  position:absolute;
  left:2px;
  top:-8px;
  width:922px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23805 {
  position:absolute;
  left:397px;
  top:234px;
  width:53px;
  height:16px;
}
#u23806 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u23807 {
  position:absolute;
  left:530px;
  top:234px;
  width:79px;
  height:16px;
  color:#999999;
}
#u23808 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u23809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:10px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u23809 {
  position:absolute;
  left:609px;
  top:237px;
  width:100px;
  height:10px;
  font-size:10px;
}
#u23810 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  word-wrap:break-word;
}
#u23811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:10px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u23811 {
  position:absolute;
  left:710px;
  top:237px;
  width:100px;
  height:10px;
  font-size:10px;
}
#u23812 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  word-wrap:break-word;
}
#u23813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:10px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u23813 {
  position:absolute;
  left:811px;
  top:237px;
  width:100px;
  height:10px;
  font-size:10px;
}
#u23814 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  word-wrap:break-word;
}
#u23815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u23815 {
  position:absolute;
  left:1000px;
  top:232px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u23816 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:2px;
}
#u23817 {
  position:absolute;
  left:324px;
  top:261px;
  width:926px;
  height:1px;
}
#u23818 {
  position:absolute;
  left:2px;
  top:-8px;
  width:922px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23819 {
  position:absolute;
  left:336px;
  top:271px;
  width:20px;
  height:20px;
}
#u23820 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:2px;
}
#u23821 {
  position:absolute;
  left:324px;
  top:300px;
  width:926px;
  height:1px;
}
#u23822 {
  position:absolute;
  left:2px;
  top:-8px;
  width:922px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23823 {
  position:absolute;
  left:397px;
  top:275px;
  width:53px;
  height:16px;
}
#u23824 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u23825 {
  position:absolute;
  left:530px;
  top:273px;
  width:40px;
  height:16px;
  color:#999999;
}
#u23826 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u23827 {
  position:absolute;
  left:1000px;
  top:273px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u23828 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23829 {
  position:absolute;
  left:336px;
  top:311px;
  width:20px;
  height:20px;
}
#u23830 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23831 {
  position:absolute;
  left:397px;
  top:315px;
  width:53px;
  height:16px;
}
#u23832 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u23833 {
  position:absolute;
  left:530px;
  top:313px;
  width:40px;
  height:16px;
  color:#999999;
}
#u23834 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u23835 {
  position:absolute;
  left:1000px;
  top:313px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u23836 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:2px;
}
#u23837 {
  position:absolute;
  left:324px;
  top:339px;
  width:926px;
  height:1px;
}
#u23838 {
  position:absolute;
  left:2px;
  top:-8px;
  width:922px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:16px;
}
#u23839 {
  position:absolute;
  left:324px;
  top:521px;
  width:720px;
  height:16px;
  color:#999999;
}
#u23840 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  word-wrap:break-word;
}
#u23841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23841 {
  position:absolute;
  left:336px;
  top:351px;
  width:20px;
  height:20px;
}
#u23842 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u23843 {
  position:absolute;
  left:336px;
  top:393px;
  width:20px;
  height:16px;
}
#u23844 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u23845 {
  position:absolute;
  left:336px;
  top:430px;
  width:20px;
  height:16px;
}
#u23846 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23847 {
  position:absolute;
  left:336px;
  top:466px;
  width:20px;
  height:20px;
}
#u23848 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u23849 {
  position:absolute;
  left:1000px;
  top:432px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u23850 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u23851 {
  position:absolute;
  left:1000px;
  top:394px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u23852 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u23853 {
  position:absolute;
  left:1000px;
  top:471px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u23854 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u23855 {
  position:absolute;
  left:1000px;
  top:356px;
  width:51px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u23856 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u23857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:2px;
}
#u23857 {
  position:absolute;
  left:324px;
  top:381px;
  width:926px;
  height:1px;
}
#u23858 {
  position:absolute;
  left:2px;
  top:-8px;
  width:922px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:2px;
}
#u23859 {
  position:absolute;
  left:324px;
  top:419px;
  width:926px;
  height:1px;
}
#u23860 {
  position:absolute;
  left:2px;
  top:-8px;
  width:922px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:2px;
}
#u23861 {
  position:absolute;
  left:324px;
  top:458px;
  width:926px;
  height:1px;
}
#u23862 {
  position:absolute;
  left:2px;
  top:-8px;
  width:922px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:2px;
}
#u23863 {
  position:absolute;
  left:324px;
  top:496px;
  width:926px;
  height:1px;
}
#u23864 {
  position:absolute;
  left:2px;
  top:-8px;
  width:922px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u23865 {
  position:absolute;
  left:397px;
  top:355px;
  width:40px;
  height:16px;
  color:#999999;
}
#u23866 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u23867 {
  position:absolute;
  left:397px;
  top:393px;
  width:40px;
  height:16px;
  color:#999999;
}
#u23868 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u23869 {
  position:absolute;
  left:397px;
  top:430px;
  width:40px;
  height:16px;
  color:#999999;
}
#u23870 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u23871 {
  position:absolute;
  left:397px;
  top:468px;
  width:40px;
  height:16px;
  color:#999999;
}
#u23872 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23873 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:80px;
}
#u23874 {
  position:absolute;
  left:2px;
  top:32px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:52px;
}
#u23875 {
  position:absolute;
  left:26px;
  top:16px;
  width:47px;
  height:52px;
}
#u23876 {
  position:absolute;
  left:2px;
  top:18px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u23877 {
  position:absolute;
  left:94px;
  top:21px;
  width:1px;
  height:44px;
}
#u23878 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u23879 {
  position:absolute;
  left:114px;
  top:27px;
  width:97px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u23880 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u23881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u23881 {
  position:absolute;
  left:1240px;
  top:12px;
  width:54px;
  height:54px;
}
#u23882 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u23883 {
  position:absolute;
  left:1380px;
  top:18px;
  width:66px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u23884 {
  position:absolute;
  left:2px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u23885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u23885 {
  position:absolute;
  left:1304px;
  top:42px;
  width:145px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u23886 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u23887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u23888 {
  position:absolute;
  left:1462px;
  top:44px;
  width:22px;
  height:16px;
}
#u23889 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u23890 {
  position:absolute;
  left:1479px;
  top:42px;
  width:7px;
  height:7px;
}
#u23891 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:22px;
}
#u23892 {
  position:absolute;
  left:1508px;
  top:45px;
  width:1px;
  height:21px;
}
#u23893 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u23894 {
  position:absolute;
  left:1526px;
  top:45px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#CCCCCC;
}
#u23895 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u23896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:2023px;
  background:inherit;
  background-color:rgba(64, 76, 88, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23896 {
  position:absolute;
  left:0px;
  top:80px;
  width:225px;
  height:2023px;
}
#u23897 {
  position:absolute;
  left:2px;
  top:1004px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u23898 {
  position:absolute;
  left:1304px;
  top:18px;
  width:67px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u23899 {
  position:absolute;
  left:2px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u23900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u23900 {
  position:absolute;
  left:23px;
  top:101px;
  width:25px;
  height:20px;
}
#u23901 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23902 {
  position:absolute;
  left:61px;
  top:99px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23903 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u23904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u23904 {
  position:absolute;
  left:5px;
  top:138px;
  width:213px;
  height:1px;
}
#u23905 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u23906 {
  position:absolute;
  left:24px;
  top:167px;
  width:23px;
  height:19px;
}
#u23907 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u23908 {
  position:absolute;
  left:59px;
  top:163px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
}
#u23909 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u23910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23910 {
  position:absolute;
  left:60px;
  top:209px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23911 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23912 {
  position:absolute;
  left:60px;
  top:249px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23913 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23914 {
  position:absolute;
  left:60px;
  top:332px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23915 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u23916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23916 {
  position:absolute;
  left:60px;
  top:372px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23917 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u23918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u23918 {
  position:absolute;
  left:59px;
  top:442px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
}
#u23919 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23920 {
  position:absolute;
  left:59px;
  top:488px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23921 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u23922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23922 {
  position:absolute;
  left:59px;
  top:528px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23923 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u23924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23924 {
  position:absolute;
  left:59px;
  top:568px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23925 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u23926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u23926 {
  position:absolute;
  left:5px;
  top:421px;
  width:213px;
  height:1px;
}
#u23927 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u23928 {
  position:absolute;
  left:23px;
  top:446px;
  width:23px;
  height:19px;
}
#u23929 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u23930 {
  position:absolute;
  left:59px;
  top:637px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
}
#u23931 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u23932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23932 {
  position:absolute;
  left:59px;
  top:683px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23933 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u23934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23934 {
  position:absolute;
  left:59px;
  top:723px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23935 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u23936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23936 {
  position:absolute;
  left:59px;
  top:763px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23937 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u23938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u23938 {
  position:absolute;
  left:5px;
  top:616px;
  width:213px;
  height:1px;
}
#u23939 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u23940 {
  position:absolute;
  left:59px;
  top:832px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
}
#u23941 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u23942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23942 {
  position:absolute;
  left:59px;
  top:878px;
  width:101px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23943 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u23944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u23944 {
  position:absolute;
  left:5px;
  top:811px;
  width:213px;
  height:1px;
}
#u23945 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u23946 {
  position:absolute;
  left:59px;
  top:945px;
  width:77px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
}
#u23947 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u23948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u23948 {
  position:absolute;
  left:5px;
  top:924px;
  width:213px;
  height:1px;
}
#u23949 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23950 {
  position:absolute;
  left:190px;
  top:947px;
  width:20px;
  height:20px;
}
#u23951 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u23952 {
  position:absolute;
  left:59px;
  top:1010px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
}
#u23953 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u23954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u23954 {
  position:absolute;
  left:5px;
  top:989px;
  width:213px;
  height:1px;
}
#u23955 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u23956 {
  position:absolute;
  left:38px;
  top:2024px;
  width:57px;
  height:16px;
  color:#CCCCCC;
}
#u23957 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u23958 {
  position:absolute;
  left:121px;
  top:2024px;
  width:57px;
  height:16px;
  color:#CCCCCC;
}
#u23959 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u23960 {
  position:absolute;
  left:105px;
  top:2024px;
  width:1px;
  height:16px;
}
#u23961 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u23962 {
  position:absolute;
  left:19px;
  top:2050px;
  width:173px;
  height:15px;
  font-size:12px;
  color:#CCCCCC;
}
#u23963 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u23964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u23964 {
  position:absolute;
  left:23px;
  top:637px;
  width:24px;
  height:24px;
}
#u23965 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u23966 {
  position:absolute;
  left:24px;
  top:1010px;
  width:21px;
  height:24px;
}
#u23967 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u23968 {
  position:absolute;
  left:23px;
  top:832px;
  width:25px;
  height:26px;
}
#u23969 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404C58;
}
#u23970 {
  position:absolute;
  left:23px;
  top:947px;
  width:23px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404C58;
}
#u23971 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u23972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u23972 {
  position:absolute;
  left:252px;
  top:25px;
  width:39px;
  height:34px;
}
#u23973 {
  position:absolute;
  left:2px;
  top:9px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23974 {
  position:absolute;
  left:311px;
  top:27px;
  width:261px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23975 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u23976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23976 {
  position:absolute;
  left:60px;
  top:289px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23977 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u23978 {
  position:absolute;
  left:0px;
  top:1773px;
  width:225px;
  height:43px;
  font-size:20px;
}
#u23979 {
  position:absolute;
  left:60px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u23980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u23980 {
  position:absolute;
  left:59px;
  top:1077px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
}
#u23981 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u23982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u23982 {
  position:absolute;
  left:5px;
  top:1056px;
  width:213px;
  height:1px;
}
#u23983 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23984 {
  position:absolute;
  left:59px;
  top:1117px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23985 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23986 {
  position:absolute;
  left:59px;
  top:1160px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23987 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23988 {
  position:absolute;
  left:59px;
  top:1204px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23989 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23990 {
  position:absolute;
  left:59px;
  top:1249px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23991 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u23992 {
  position:absolute;
  left:59px;
  top:1311px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
}
#u23993 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u23994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u23994 {
  position:absolute;
  left:5px;
  top:1292px;
  width:213px;
  height:1px;
}
#u23995 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23996 {
  position:absolute;
  left:59px;
  top:1355px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23997 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u23998 {
  position:absolute;
  left:59px;
  top:1398px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u23999 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u24000 {
  position:absolute;
  left:59px;
  top:1442px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u24001 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u24002 {
  position:absolute;
  left:59px;
  top:1487px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u24003 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u24004 {
  position:absolute;
  left:59px;
  top:1546px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
}
#u24005 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u24006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u24006 {
  position:absolute;
  left:5px;
  top:1529px;
  width:213px;
  height:1px;
}
#u24007 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u24008 {
  position:absolute;
  left:59px;
  top:1585px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u24009 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u24010 {
  position:absolute;
  left:59px;
  top:1679px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#CCCCCC;
}
#u24011 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u24012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u24012 {
  position:absolute;
  left:5px;
  top:1662px;
  width:213px;
  height:1px;
}
#u24013 {
  position:absolute;
  left:2px;
  top:-8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u24014 {
  position:absolute;
  left:59px;
  top:1713px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u24015 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u24016 {
  position:absolute;
  left:59px;
  top:1747px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u24017 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u24018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u24018 {
  position:absolute;
  left:22px;
  top:1079px;
  width:27px;
  height:20px;
}
#u24019 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u24020 {
  position:absolute;
  left:26px;
  top:1682px;
  width:23px;
  height:23px;
}
#u24021 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u24022 {
  position:absolute;
  left:25px;
  top:1546px;
  width:23px;
  height:23px;
}
#u24023 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u24024 {
  position:absolute;
  left:25px;
  top:1313px;
  width:24px;
  height:26px;
}
#u24025 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u24026 {
  position:absolute;
  left:59px;
  top:1623px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u24027 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
