body {
  margin:0px;
  background-color:rgba(51, 62, 80, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:620px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
  line-height:72px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:620px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:60px;
  color:#FFFFFF;
  text-align:center;
  line-height:72px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:302px;
  width:1200px;
  visibility:hidden;
  word-wrap:break-word;
  text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
  -webkit-text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
  -moz-text-shadow:0px 2px 3px rgba(153, 153, 153, 0.647058823529412);
}
#u1000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(79, 193, 176, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:left;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  text-align:left;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:19px;
  width:1158px;
  word-wrap:break-word;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:1116px;
  top:55px;
  width:57px;
  height:47px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u1002_img.mouseOver {
}
#u1002.mouseOver {
  opacity:0.8;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:47px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:55px;
  width:57px;
  height:47px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:center;
}
#u1004_img.mouseOver {
}
#u1004.mouseOver {
  opacity:0.8;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u1006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:165px;
  width:466px;
  height:50px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1006_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 143, 99, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1006.mouseOver {
}
#u1006_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(47, 140, 255, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1006.selected {
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:456px;
  word-wrap:break-word;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:84px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:215px;
  width:420px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u1010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:165px;
  width:466px;
  height:50px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1010_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 143, 99, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1010.mouseOver {
}
#u1010_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(47, 140, 255, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1010.selected {
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:456px;
  word-wrap:break-word;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:84px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:215px;
  width:420px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u1014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:322px;
  width:466px;
  height:50px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1014_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 143, 99, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1014.mouseOver {
}
#u1014_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(47, 140, 255, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1014.selected {
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:456px;
  word-wrap:break-word;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:84px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:372px;
  width:420px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u1018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:322px;
  width:466px;
  height:50px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1018_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 143, 99, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1018.mouseOver {
}
#u1018_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(47, 140, 255, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1018.selected {
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:456px;
  word-wrap:break-word;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:84px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:372px;
  width:420px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u1023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:477px;
  width:466px;
  height:50px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1023_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 143, 99, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1023.mouseOver {
}
#u1023_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(47, 140, 255, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1023.selected {
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:456px;
  word-wrap:break-word;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:84px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:527px;
  width:440px;
  height:84px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u1028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:477px;
  width:466px;
  height:50px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1028_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(245, 143, 99, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1028.mouseOver {
}
#u1028_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(47, 140, 255, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
  line-height:40px;
}
#u1028.selected {
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:5px;
  width:456px;
  word-wrap:break-word;
}
#u1030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:56px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:527px;
  width:420px;
  height:56px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
